.member-profile{
	form{
		h2{
			font-size: 16px;
			font-weight: 400;
			margin-bottom: 45px;
			padding: 0 15px 10px;
			position: relative;
			top: 1px;

			&:after{
			    bottom: 0;
			    background: $border;
			    content: '';
			    left: 15px;
			    right: 15px;
			    height: 1px;
			    position: absolute;
			}
		}
	}

}/* member-profile */

#ui-datepicker-div {
	display: none;
}