
.sk-image-gallry-sec{
	padding-top: 40px;

	// MEDIA-QUERIES //
	@include media(xs){
	    padding-top: 15px;
	}

	h3{
		font-size: 16px;
		font-weight: normal;
		margin: 0 0 15px 0;

		a{
			color: $black;
		}
	}

	.image-upload-form-wrapper{
		margin-bottom:40px;

		// MEDIA-QUERIES //
		@include media(sm){
		    margin-bottom:20px;
		    text-align: center;
		}

		.upload-image-title{
			h3{
				float: left;
			}
			button{
				background-color: transparent;
				border-color: transparent;
				word-wrap: break-word;
				line-height: 1;
				font-size: 17px;
				padding: 0;
				margin-left: 5px;
				&:hover,&:focus{
					background-color: transparent;
					outline: none;
					@include box-shadow(none);
				}
			}
		}

		#upload_form{

			.form-group{
				margin-right:15px;

				@include media(sm){
					display: block;
					margin-bottom: 15px;
				}
				
				&.ev-submit{
				   position: relative;
				}

				input{
					&.form-control{
						border: 1px solid $border;	
						height:40px;
						width: 206px;

						@include media(sm){
						    width: 450px;
						    margin: 0 auto;
						}

						@include media(mb){
						    width: 275px;
						}
					}

					&:focus{
						border-color:$theme-color;
						outline:none;
						@include box-shadow(none);
					}

					&[type="submit"]{
						border:none;
						line-height: 1.5; 
						padding: .8em 2em;
						@include border-radius(0);
						@include text-shadow(none);
						color:$light;

						@include media(md){
							margin-top: 15px;
						}

						@include media(sm){
						    width: auto;
						    margin: 0 auto;
						}
					}
				}// input

				.select-box{
					border: 1px solid $border;	
					height:40px;
					width: 206px;

					@include media(sm){
					    width: 450px;
					    margin: 0 auto;
					}

					@include media(mb){
					    width: 275px;
					}

					select{
						background-color: transparent;
						border: none;
					}
				}

				.add-image-loader{
	    			font-size: 12px;
	    			margin-left: 15px;
	    			padding-top: 6px;
	    			position: absolute;
	    			right: -32px;
	    			top: 0;
				}

				.choose-file{
					width: 206px;
					@include media(sm){
					    width: 450px;
					    margin: 0 auto;
					}

					@include media(mb){
					    width: 275px;
					}
				}
			}//.form-group

		}// #upload_form

		#status{
			display: block;
			font-size:14px;
			.alert{
				margin: 15px 0;
				width: auto;
			}

		}

		#images_wrap{
			@include clearfix();

			.sk-small-thumbnail{
				float: left;
				margin-right: 5px;
				margin-bottom: 5px;

				&:last-child{
					margin-right:0;
				}
			}
		}
	}//.image-upload-form-wrapper

	.sk-member-image-wrapper{
		h3{
			border-bottom: 1px #eee solid;
			padding-bottom:10px;
			margin:0 6px 20px 6px;
		}

		.sk-image-thumnail{
			cursor: pointer;
			position: relative;
			margin-bottom:12px;
	    	@inlcude transition(all 0.5s ease-in-out);

			.sk-member-image{
				position: relative;
			}

			.sk-image-info{
				bottom: 0;
				color: $light;
				position: absolute;
			    padding: 15px;
			    width: 100%;

			    .sk-title-date{
			    	float: left;
			    	line-height: 18px;
			    	@include calc(width, '35px');

			    	h4{
			    		font-size:14px;
			    		margin:0;
			    	}

			    	.posted-on{
			    		font-size:14px;
			    		line-height: 18px;
			    	}
			    }

			    .remove-image{
			    	background: $theme-color;
			    	@include border-radius(50%);
			    	color: $body-color;
			    	float: right;
			    	line-height: 35px;
			    	height: 35px;
			    	width: 35px;
			    	text-align: center;
			    	visibility: hidden;
			    	opacity: 0;
			    	@inlcude transition(all 0.5s linear);


			    	a{
			    		color:$body-color;
			    		font-size:20px;
			    	}

			    }//.remove-image

			}//.sk-image-info

			.remove-image-loader{
				position: absolute;
				left: 50%;
				top: 50%;
				z-index: 99;
				color: #fff;
				
			}
		    &:hover{
				.remove-image{
					opacity: 1;
					visibility: visible;
				}
		    }

		}//.sk-image-thumnail

	}//.sk-member-image-wrapper

}//.sk-image-gallry-sec