.sk-c-form-group {
    width: 280px;
    max-width: 100%;
    margin-right: 10px;
    float: left;
    position: relative;

    input{
        position: relative;
        background-color: $color_white;
        width: 100%;
        height: 38px;
        padding: 8px 15px;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 500;
        border: none;
        @include border-radius(20px);

        &:focus{
          outline: none;
        }
    }
}

.sk-mobile-filter{
  display: block;
  background-color: lighten($color_black, 90%);
  padding: 12px 15px;
  font-weight: bold;
  .fa{
    float: right;
    font-size: 20px;
  }
}

.map {
    position: relative;

    .sk-company-filters {

        @include media(xs){
          position: relative;
          padding: 15px 15px 0;
          top: initial;
          left: initial;
          padding-bottom: 15px;
          margin-top: 1px;
          background-color: lighten($color_black, 90%);
          @include clearfix();

          .sk-c-select{
            width: 100%;
            margin-bottom: 8px;
          }
          .sk-c-form-group{
            width: 100%;
            margin-bottom: 8px;
          }

          button[type='submit']{
            float: right;
          }
        }
    }
    .sk-c-select{
      // margin-bottom: 10px;
      select{
        border: none;
      }
    }

    .sk-c-form-group{
        // margin-bottom: 10px; 
    }
    
    button[type='submit']{
      // display: block;
      height: 38px;
      padding: 0 20px;
      border: none;
      text-transform: capitalize;
      background-color: $color_line;
      color: $color_white;
      @include border-radius(20px);
      @include transition( background-color 0.3s);

      @include media(md){
        margin-top: 0;
      }

      @include media(sm){
      }
    }

    @include media(md){
      .sk-c-select, .sk-c-form-group{
        margin-bottom: 10px;
        width: 285px;
      }
    }
    @include media(sm){
      .sk-c-select, .sk-c-form-group{
        margin-bottom: 10px;
        width: 200px;
      }
    }

    .map-container{
        position: relative;
        .map-filtericon{
            border-bottom: #eee;
            color: #908f8f;
            display: none;
            position: absolute;
            top: 4px;
            left: 15px;
            font-size: 24px;
            line-height: 28px;
            width: 100%;
            z-index: 9;

            @include media(xs){
                display:block;
            }
        }
        .companies-list-mode{
            background-color: $color_white;
            float: left;
            z-index: 2;
            width: 30%;
            height: calc(100vh - 134px);
            overflow-y: scroll;

            @include media(xs){
                display: none;
                float: none;
                width: 100%;
                position: relative;
                top:30px;
            }
            .company-inner-list{
                padding: 10px 15px;
                .single-company-listing{
                    border-bottom: 1px #eee solid;
                    @include clearfix();
                    margin-bottom: 10px;
                    padding-bottom: 10px;

                    &:last-child{
                        border-bottom: none;
                    }

                    a{
                        display: block;
                        font-size: 12px;
                       &.map-content-link{
                        display: -webkit-flex;
                        display: -ms-flexbox;
                        display: flex;
                        -ms-flex-align: center;
                        -webkit-align-items: center;
                        -webkit-box-align: center;
                        align-items: center;

                            .company-details{
                                overflow: hidden;
                                @include calc(width, 60px);
                                .map-company-info{
                                    display: block;
                                    span{
                                        display: block;
                                    }
                                    
                                }
                            }

                            .map-image-container{
                                img{
                                    width: 60px;
                                }
                            }
                        }
                    }

                    .orgn-links{
                        a{
                            color: #000;
                            text-decoration: underline;
                        }

                    }
                }
            }

        } 
    }

}//End map

.gm-style-iw{
    a{
        color: darken($color_line, 5%);
        font-weight: $font_weight_bold;
        margin-top: 5px;
        &:hover{
            text-decoration: underline;
        }
    }
}

.sk-company-details{
    .sk-inner-intro{
        text-align: left;

        .table-responsive{
            border: none;
            th,td{
                border-top: none;
            }
        }

        .sk-company-logo{
          margin-bottom: 40px;
        }
    }
}
