a{
  color: inherit;

  &:hover, &:focus, &:active, &:visited{
    text-decoration: none;
    color: inherit;
  }

}
.widget{
  margin-bottom: 0;
}

ul{
  margin:0;
  padding: 0;
}

body{
  font-size: 16px;

  @include media(sm){
    font-size: 15px;
  }

  @include media(xs){
    font-size: 14px;
  }
}
