<body style="font-size: 14px;">
<table width="100%" name="layout_01" border="0" cellspacing="0" cellpadding="0"
       style="background-color: rgb(236, 236, 236); width: 100%;"><!-- START LAYOUT-1 ( MENU BAR ) -->
    <tbody>
    <tr preview-bg="">
        <td valign="top" align="center" edit-style="outside_box" class="container" style="background-color: #eceff1; "
            edit-bg="Outside" full-width="false" effect-all="false">
            <table width="600" edit-style="inside_box" align="center" border="0" cellspacing="0" cellpadding="0"
                   class="container"
                   style="background-color: rgb(236, 239, 241); min-width: 600px; margin: 0px auto; width: 600px;"
                   effect-all="false"><!-- start space -->
                <tbody>
                <tr>
                    <td valign="top" height="50"
                        style="font-size: 0px; line-height: 0; border-collapse: collapse;"></td>
                </tr>
                <!-- end space -->
                <tr>
                    <td valign="top" align="center">
                        <table width="560" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width"
                               style="margin: 0px auto; width: 560px;">
                            <tbody>
                            <tr>
                                <td valign="top">
                                    <table width="100%" align="center" edit-bg="Inside" class="full-width" border="0"
                                           cellpadding="0" cellspacing="0"
                                           style="background-color:#e6e6e6"
                                           edit-style="bg_color_0" effect-all="false"><!-- start space -->
                                        <tbody>
                                        <tr>
                                            <td valign="top" height="20"
                                                style="font-size: 0px; line-height: 0; border-collapse: collapse;"
                                                class=""></td>
                                        </tr>
                                        <!-- end space --><!-- start box -->
                                        <tr edit-duplicate="" class="" dup="0">
                                            <td valign="top" style="padding-bottom:20px;">
                                                <table width="400" align="center" border="0" cellpadding="0"
                                                       cellspacing="0"
                                                       style="margin: 0px auto; width: 400px;">
                                                    <tbody>
                                                    <tr>
                                                        <td valign="top" style="padding-left:10px; padding-right:10px;">
                                                            <table width="100%" align="center" border="0"
                                                                   cellpadding="0" cellspacing="0"
                                                                   style="margin:0 auto;"><!-- start space -->
                                                                <tbody>

                                                                <!-- end space -->
                                                                <tr>
                                                                    <td align="center" panel-color="bg_color_0" editor="content"
                                                                        class="">
                                                                        <span style="font-weight: bold; text-decoration: none; color: rgb(255, 255, 255); font-size: inherit; line-height: 38px;">
                                                                            {BannerImage}
                                                                        </span>
                                                                    </td>
                                                                </tr>
                                                                <!-- start space -->

                                                                <!-- end space --></tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <!-- end box --><!-- start space -->

                                        <!-- end space --></tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <!-- END LAYOUT-1 ( MENU BAR ) --></tbody>
</table>
<table width="100%" name="layout_02" border="0" cellspacing="0" cellpadding="0"
       style="background-color: rgb(236, 236, 236); width: 100%;"><!-- START LAYOUT-2 ( BIG IMAGE ) -->
    <tbody>
    <tr preview-bg="">
        <td valign="top" align="center" edit-style="outside_box" class="container" style="background-color: #eceff1; "
            edit-bg="Outside" full-width="false" effect-all="false">
            <table width="600" edit-style="inside_box" align="center" border="0" cellspacing="0" cellpadding="0"
                   class="container"
                   style="background-color: rgb(236, 239, 241); min-width: 600px; margin: 0px auto; width: 600px;"
                   edit-bg="Inside" effect-all="false">
                <tbody>
                <tr>
                    <td valign="top" align="center">
                        <table width="560" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width"
                               style="margin: 0px auto; background-color: rgb(255, 255, 255); width: 560px;"
                               edit-style="bg_color_1" effect-all="false"><!-- start space -->
                            <tbody>
                            <tr>
                                <td valign="top" height="30"
                                    style="font-size: 0px; line-height: 0; border-collapse: collapse;"></td>
                            </tr>

                            <tr edit-duplicate="" align="center" class="" dup="0">
                                <td valign="top" style="padding-left:30px; padding-right:30px;">
                                    <span style="text-decoration: none; color: #000000; font-size: inherit; line-height: 22px;">
                                         {shortMessage}
                                    </span>
                                </td>
                            </tr>

                            <tr>
                                <td valign="top" height="40"
                                    style="font-size: 0px; font-style:italic;line-height: 0; border-collapse: collapse;"></td>
                            </tr>
                            <tr>
                                <td valign="top" height="60" style="font-size: 0px; line-height: 0; border-collapse: collapse;"></td>
                            </tr>
                            <!-- end space --></tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <!-- END LAYOUT-2 ( BIG IMAGE ) --></tbody>
</table>
<table width="100%" name="layout_04" border="0" cellspacing="0" cellpadding="0"
       style="background-color: rgb(236, 236, 236); width: 100%;"><!-- START LAYOUT-4 ( CONTENT SOCIAL ) -->
    <tbody>
    <tr preview-bg="">
        <td valign="top" align="center" edit-style="outside_box" class="container" style="background-color: #eceff1; "
            edit-bg="Outside" full-width="false" effect-all="false">
            <table width="600" edit-style="inside_box" align="center" border="0" cellspacing="0" cellpadding="0"
                   class="container"
                   style="background-color: rgb(236, 239, 241); min-width: 600px; margin: 0px auto; width: 600px;"
                   edit-bg="Inside" effect-all="false">
                <tbody>
                <tr>
                    <td valign="top" align="center">
                        <table width="560" align="center" border="0" cellspacing="0" cellpadding="0" class="container"
                               style="margin: 0px auto; width: 560px;"><!-- start space -->
                            <tbody>
                            <tr>
                                <td valign="top" height="40"
                                    style="font-size: 0px; line-height: 0; border-collapse: collapse;"></td>
                            </tr>
                            <!-- end space -->
                            <tr edit-duplicate="" class="" dup="0">
                                <td valign="top">
                                    <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                        <tr>
                                            <td valign="middle">
                                                <table width="auto" align="center" border="0" cellpadding="0" cellspacing="0" style="margin:0 auto;">
                                                </table>
                                            </td>
                                        </tr>
                                        <!-- start space -->
                                        <tr>
                                            <td valign="top" height="20"
                                                style="font-size: 0px; line-height: 0; border-collapse: collapse;"></td>
                                        </tr>
                                        <!-- end space --></tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <!-- start space -->
                <tr>
                    <td valign="top" height="30"
                        style="font-size: 0px; line-height: 0; border-collapse: collapse;"></td>
                </tr>
                <!-- end space --></tbody>
            </table>
        </td>
    </tr>
    <!-- END LAYOUT-5 ( CONTENT SOCIAL ) --></tbody>
</table>
</body>