%sk-center{
  position: absolute;
  left: 50%;
  top: 50%;
  @include translate( -50%, -50%);
}

%sk-lr-center{
  position: absolute;
  left: 50%;
  @include translate( -50%, 0);
}

.verification-mesg{
	margin: 40px 0;

	span{
		background-color: #f2f2f2;
		border-left: 2px $color_line solid;
		display: block;
		padding: 10px;
	}
}

.sk-equal-row{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flexbox;

	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	
	.sk-equal-col{
		display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
	}
}