
/* BASIC COLOR */
$color_primary        : #4b5669 !default;
$color_secondary      : #161616 !default;
$color_line           : #ffd700 !default;
$color_white          : #fff !default;
$color_black          : #000 !default;
$color_success        : #6bc452 !default;
$color_error          : #F04124 !default;

/* FONTS */
$font_primary   : 'Montserrat';
$font_secondary : 'merriweather';
$font_ternary   : 'Playfair Display', serif;
$font_awesome   : 'FontAwesome';
$font_size      : 16px;

/* FONT WEIGHT */
$font_weight_light  : 300;
$font_weight_normal : 400;
$font_weight_bold   : 700;
$font_weight_bolder : 900;
