
.page{
    .sk-img{
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 450px;
      margin-bottom: 40px;
    }

    .sk-title{
        font-size: 26px;
        font-weight: 500;
        margin-bottom: 10px;
    }

    .sk-description{
        margin-top: 30px;
    }
}

.single-gallery-item{ width: 24%; }
@media (max-width: 767px) { .single-gallery-item{ width: 50%; } }
@media (max-width: 500px) { .single-gallery-item { width: 100%; } }