.single {
  ul{
    li{
      list-style: none;
    }
  }


  .sk-img{
    // padding-bottom: 60%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 450px;
    margin-bottom: 40px;
  }

  .sk-title{
    font-size: 26px;
    font-weight: 500;
    margin: 0 0 10px 0;
    text-transform: capitalize;
  }

  .sk-date{
    font-size: 13px;
    i{
      font-size: 16px;
      margin-right: 5px;
      color: lighten($color_black, 20%);
    }
  }

  .sk-description{
    margin-top: 30px;

    .sk-couse-content{
      table{
        width: auto;
        th{
            display: block;
            margin-right: 5px;
        }
        a{
          font-weight: 700;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }

  .nav-links{
    @include clearfix();
    margin-top: 40px;
    a{
      background: lighten($color_black, 20%);
      background: #333333;
      padding: 10px 20px;
      font-size: 12px;
      color: $color_white;
      max-width: 170px;
      text-overflow: ellipsis;
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      @include border-radius(20px);

      &:hover{
        background-color: lighten($color_black, 10%);
        @include transition( background-color 0.4s);
      }

      @include media(mb){
        max-width: 130px;
      }
    }

  }/* End .nav-links */
} /* End .single*/


.widget-area{
  border-left: 1px solid lighten($color_black, 95%);
  @include media(sm){
    margin-top: 60px;
  }

  .widget {
    padding-left: 30px;
    margin-bottom: 40px;

    .widget-title{
      font-size: 18px;
      color: lighten($color_black, 30%);
      margin: 0 0 15px 0;
    }

    ul{
      padding-left: 18px;
      li{
        margin-bottom: 10px;
        text-transform: capitalize;
        color: lighten($color_black, 50%);
        list-style-type: circle;
      }
    }

  }
}


.widget_search{
  @include clearfix();

  label{
    width: calc( 100% - 85px);
    float: left;
  }
  input[type="search"]{
    padding: 0 15px;
    width: 95%;
    height: 35px;
    border: none;
    @include border-radius(20px);
    @include box-shadow(none);

    &:focus{
      outline: none;
    }
  }

  input[type="submit"]{
    float: right;
    border: none;
    background: #000;
    color: #fff;
    height: 35px;
    padding: 0 14px;
    border-radius: 20px;
  }
}

.sk-archive-link{
  text-align: center;
  .see-all{
    padding: 10px 20px;
    border: none;
    text-transform: capitalize;
    background-color: $color_line;
    color: $color_white !important;
    @include border-radius(20px);
    @include transition(background-color 0.3s);
  }
}