
.post-type-archive-sk_news{
    .sk-news-archive-wrapper{
      padding-top: 40px;
    }

    .sk-news-wrapper {
        padding: 0 0 40px 0;
        @include media(xs){
          .sk-news{
            margin: 0px 0 15px;
          }
        }
    }

    /* RESPONSIVE */
    @include media(xs) {
        .sk-form-group {
          width: 100%;
          // background-color: $color_white;
          margin-right: 0;
          @include border-radius(30px);

          select{
            border: none;
            padding: 9px 25px 9px 9px;

            &:focuse{
              outline: none;
            }
          }
          &:after {
            color: $color_black;
          }
        }

        .sk-news-wrapper {
            padding: 0;

            .sk-title-n-filter {
                margin-bottom: 15px;
                margin-top: 1px;

                h1 {
                    float: left;
                    margin: 6px 0 0 0;
                    font-size: 22px;
                }

                .category-filter {
                    float: none;
                }
            }

            .sk-mobile-filter{
                background-color: #f2f2f2;
            }

            @include media(xs) {
                .sk-form-group{
                    .sk-c-select{
                        width: 100%;
                        margin-bottom: 10px;
                  }
                }
            }

        }

    } // End responsive
} //End .category-news

.btn-group.open {
  > .btn-default.dropdown-toggle:hover{
    background-color: $color_white;
  }
  .dropdown-toggle{
    @include box-shadow(none !important);
    background-color: $color_white;
  }
}

.btn-default:active:focus{
  background-color: $color_white;
}
.btn-default:focus{
  background-color: $color_white;
}
.dropdown-menu{
  border: none;
}

.bootstrap-select{
  width: 100% !important;
  .dropdown-menu {
    li {
      a{
        &:active, &:focus{
          outline: none !important;
        }
        &.sub-cat{
            font-size: 12px;
            margin-left: 10px;
            position: relative;
            &:before{
                content: '-';
                position: absolute;
                left: 11px;
            }
        }
      }
    }
  } //End .dropdown-menu

  button{
    border: none;
    padding: 9px 15px;
    @include border-radius(20px);

    &.dropdown-toggle{
      position: relative;
      .caret{
        border-right: none;
        border-left: none;
        top: 5px !important;
        right: 20px !important;

        &:after{
          content: "\f107";
          font-family: "FontAwesome";
          color: #ffd700;
          font-size: 18px;
        }
      }
      &:focus, &:active{
        outline: none !important;
        @include box-shadow(none);
      }
    }

    &.btn-default{
      &:hover{
        background-color: $color_white;
      }
    }
  }
}

.sk-c-select {
    width: 280px;
    max-width: 100%;
    margin-right: 10px;
    float: left;
    
} //End .sk-custom select
