.c-btn{
	background: $theme-color;
	border: none;
	color: $light;
	display: inline-block;
	font-size: 12px;
	font-weight: 700;
	padding: 9px 23px;
	text-align: center;
	text-transform: uppercase;
	@include box-shadow(none);
	@include text-shadow(none);
	line-height: 1.5;
	@include transition(all 0.3s ease-in-out);

	&:hover,&:focus{
		background-color: $black;
		color: $light;
	}
}