
.company-upload-form-wrapper{
	#upload_company_form{
		.form-group{
			margin-bottom: 25px;
			&.latitud-link{
				position: relative;

				a{
					&.info-link{
						color: #171717;
						font-size: 12px;
						font-weight: 600;
						line-height: 20px;
						left: 2px;
						position: absolute;
					}
				}
			}

			label{
				display: block;
				color: $black;
				font-weight: 400;
				a{
					color: $black;
					font-size: 20px;
				}
			}

			input,select,textarea{
				width:100%;
				border:1px $border solid;
				height:40px;
				padding: 4px 8px;
				@include border-radius(3px);
				&:focus{
					border-color: #999;
					outline: none;
				}
			}

			.select-box{
				border:1px $border solid;
				position:relative;
				font-family: 'FontAwesome';
				@include border-radius(3px);

				select{
					border-color: transparent;
					background-color:transparent;
					@include prefix(appearance, none);
					z-index: 2;
				}

				@include media(mb){
					margin-bottom: 0;
				}
				
			}

			.cat-submit-form{
				a{
					color: #171717;
					font-size: 12px;
					font-weight: 600;
				}
			}

			#description{
				height: auto;
			}
		}

	}
	
}