// hide logo in mobile menu

.mr-mobile-menu {
    img {
        display: none;
    }
}
$line_height: 2px;
$line_bg_color: $color_black;

.menu-icon-wrapper {
    position: absolute;
    right: 0;
    top: 20px;
    z-index: 99;
}

#menu-icon {
    position: relative;
    right: 0;
    width: 38px;
    height: 20px;
    display: inline-block;

    span:nth-child(1),
    span:nth-child(2),
    span:nth-child(3) {
        position: absolute;
        width: 100%;
        height: $line_height;
        background: $line_bg_color;
        display: inline-block;
    }

    span:nth-child(1) {
        top: 50%;
        left: 50%;
        @include translate(-50%, -50%);
    }

    span:nth-child(2) {
        top: 0;
        left: 0;
    }

    span:nth-child(3) {
        bottom: 0;
        left: 0;
    }
}

.site-header {
    text-align: center;
    min-height: 60px;

    .sk-nav-wrapper{
      margin-left: 74px;
      @include clearfix();

    }

    @include media(sm) {
      .sk-nav-wrapper{
        margin-left: 0;  
      }
        .main-navigation {
            position: relative;

            .menu {
                display: none;
            }
        }

        .sk-container {
            width: 100%;
        }
    }

    .sk-nav-wrapper {
        > a {
            float: left;
            margin: 5px 10px 0;
            display: inline-block;
            @include media(sm) {
                float: none;
            }
        }
        //menu list
        .menu {
            float: left;

            li {
                &.current-menu-item {
                    a {
                        &:after {
                            @include transform(scale(1,1));
                        }
                    }
                }

                a {
                    font-size: 14px;
                    display: inline-block;
                    padding: 10px 0;
                    margin: 10px 20px 11px;
                    font-weight: 600;
                    position: relative;
                    @include media(md) {
                        margin: 10px 15px;
                    }

                    &:after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 2px;
                        background-color: $color_line;
                        @include transition ( all 0.2s linear );
                        @include transform( scale(0, 1) );
                    }

                    &:hover {
                        &:after {
                            @include transform(scale(1,1));
                        }
                    }
                }
            }
        }
    }
}
