.sk-main-banner {
    &.slider {
        background-color: $color_black;
        position: relative;
        width: 100%;
        height: calc( 100vh - 60px );
        min-height: 300px;
        overflow: hidden;

        @include media(sm){
            height: auto;
        }

        .slider-item{
           position: absolute;
           top: 0;
           left: 0;
           width: 100%;
           height: 100%;
           overflow: hidden;
            .slider-img{
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
                position: absolute;
                height: 100%;
                top: 0;
                left: 0;
                // @include transition( all 0.5s );
                width: 100%;

                &:after{
                  content:'';
                  background-color: rgba( $color_black, 0.5);
                  position: absolute;
                  left: 0;
                  right: 0;
                  top: 0;
                  bottom:0;
                }

                @include media(sm){
                  // max-height: 500px;
                }

                @include media(xs){
                  // height: calc( 100vh - 60px );
                }
            }

            .big-letter{
                position: absolute;
                top: 50%;
                left: 50%;
                @include transform(translate(-50%, -50%));
                line-height: 0.6;
                span{
                    color: rgba( $color_white, 0.6);
                    font-size: calc(60rem + 1.25vw);
                    font-family: $font_ternary;
                    font-weight: 200;

                    @include media(xs){
                        font-size: calc(30rem + 1.25vw);
                    }
                }
            }

                .slider-caption {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    @include transform(translate(-50%, -50%));
                    z-index: 3;
                    text-align: center;

                    @include media(xs) {
                        padding: 0 15px;
                        width: 100%;
                    }

                    h1 {
                        color: $color_white;
                        font-family: $font_secondary;
                        font-size: calc(2vw + 3vh + 1vmin);
                        font-weight: $font_weight_light;
                        margin-bottom: 15px;
                        position: relative;
                        padding-bottom: 10px;
                        margin-top: 0;
                        &:after{
                            content:'';
                            border-bottom: 5px $color_line solid;
                            bottom: 0;
                            display: block;
                            left: 50%;
                            position: absolute;
                            @include transform(translate(-50%, 0));
                            width: 20vw;
                        }

                        /* RESPONSIVE */
                        @include media(xs) {
                          font-size: 25px;
                        }
                    }
                    span {
                        color: $color_white;
                        display: block;
                        font-family: $font_secondary;
                        font-weight: $font_weight_normal;
                        font-size: 1em;
                        margin-bottom: 5px;


                        @include media(sm){
                          // font-size: 250px;
                        }
                    }

                    a{
                        &.hightlight-text{
                            color: $color_line;
                        }
                    }
                }
        }
    }
}

/* SCROLL DOWN ARROW */
.sk-scroll-down {
    display: inline-block;
    background: #fff;
    position: absolute;
    padding: 10px 15px;
    bottom: 0;
    left: 50%;
    z-index: 3;
    @extend %sk-lr-center;

    img {
        @include animation(up-down 1s ease-in-out infinite);

        &:hover {
            animation-play-state: paused;
        }
        @at-root {
             @include keyframes(up-down){
                0% {
                    transform: translateY(0px);
                }

                50% {
                    transform: translateY(8px);
                }

                100% {
                    transform: translateY(0px);
                }
            }
        }
    }
}
