// hide logo in mobile menu

.mr-mobile-menu {
    img {
        display: none;
    }
}
$line_height: 2px;
$line_bg_color: $color_black;

.menu-icon-wrapper {
    position: absolute;
    right: 0;
    top: 20px;
    z-index: 99;
}

#menu-icon {
    position: relative;
    right: 0;
    width: 38px;
    height: 20px;
    display: none;
    // display: inline-block;

    @include media(md){
        display: inline-block;
    }

    span:nth-child(1),
    span:nth-child(2),
    span:nth-child(3) {
        position: absolute;
        width: 100%;
        height: $line_height;
        background: $line_bg_color;
        display: inline-block;
    }

    span:nth-child(1) {
        top: 50%;
        left: 50%;
        @include translate(-50%, -50%);
    }

    span:nth-child(2) {
        top: 0;
        left: 0;
    }

    span:nth-child(3) {
        bottom: 0;
        left: 0;
    }
}

.site-header {
    background: #fff;
    text-align: center;
    min-height: 60px;
    position: fixed;
    width: 100%;
    z-index: 10;

    .site-branding{
        display: inline-block;
        float: left;
        a{
            display: block;
            padding-top: 5px;
            img{
                width: 60px;
            }
        }
    }

    .main-navigation{
        display: inline-block;
        float: right;
        clear: none;
        width: auto;

        .sk-nav-wrapper{
          // margin-left: 74px;
          @include clearfix();

        }
    }


    @include media(md) {
      .sk-nav-wrapper{
        margin-left: 0;
      }
        .main-navigation {
            position: relative;

            .menu {
                display: none;
            }
        }

        .sk-container {
            // width: 100%;
        }
    }

    .sk-nav-wrapper {
        > a {
            float: left;
            margin: 5px 10px 0;
            display: inline-block;
            @include media(sm) {
                float: none;
            }
        }
        //menu list
        .menu {
            float: left;

            > li {
                &.current-menu-item {
                    a {
                        &:after {
                            @include transform(scale(1,1));
                        }
                    }
                }

                > a {
                    font-size: 14px;
                    display: inline-block;
                    padding: 10px 0;
                    margin: 10px 20px 11px;
                    font-weight: 600;
                    position: relative;
                    @include media(md) {
                        margin: 10px 15px;
                    }

                    &:after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 2px;
                        background-color: $color_line;
                        @include transition ( all 0.2s linear );
                        @include transform( scale(0, 1) );
                    }

                    &:hover {
                        &:after {
                            @include transform(scale(1,1));
                        }
                    }
                }
                ul{
                    &.sub-menu{
                        background: #fafafa;
                        top: 100%;
                        opacity: 0;
                        visibility: hidden;
                        @include transform(translate(0, 15px));
                        @include transition(all 0.3s ease-in-out);
                       
                        li{
                            a{
                                display: block;
                                font-size: 14px;
                                padding: 7px 15px;
                                text-align: left;
                            }

                            &:hover{
                                background-color: darken($color_line, 5%);
                                color: $color_white;
                            }
                        }
                    }
                }

                &:hover{
                    > ul{
                        opacity: 1;
                        visibility: visible;
                        @include transform(translate(0, 0));
                        // left: auto;
                    }
                }
            }
        }
    }
}
