.lexi {
    .sk-img-wrapper {
        background-color: lighten($color_black, 95%);
        text-align: center;
        position: relative;

        .image {
            padding-bottom: 65%;
            background-size: cover;
            background-position: center;
            position: relative;

            &:after {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                background-color: rgba( $color_black, 0.4);
                z-index: 1;
            }
        }

        .sk-title {
            @extend %sk-center;
            font-size: 30px;
            z-index: 2;
            color: $color_white;
            @include media(xs) {
                font-size: 20px;
            }
        }
    }

    .sk-c-double-section {
        padding: 30px 60px;
        border-left: 1px solid $color_white;

        .sk-description {
            line-height: 1.9;
        }

        .sk-section {
            margin: 10px 0 40px;
        }
        @include media(sm) {
            padding: 30px;
        }
    }
}
//End lexi


#sk-modal-box{
    .modal-dialog{
        display: flex;
        height: 90vh;

        .sk-wcontact-form-popup{
            &.modal-content{
                @include border-radius(5px);
                margin: auto;
                width: 550px;
                max-width: 100%;

                .close{
                    background-color: $color_line;
                    line-height: 20px;
                    right: -10px;
                    top: -10px;
                    opacity: 1;
                    z-index: 1;
                    &:hover{
                        background-color: $color_black;
                    }
                }

                .modal-body{
                    padding: 30px 15px;
                    .wpcf7{
                        .form-group{
                            label{
                                font-weight: $font_weight_normal;
                                font-size: 12px;
                            }

                            .form-control{
                               @include border-radius(0);
                               @include box-shadow(none);
                               border-color: #ccc;
                               font-size: 12px;
                               font-weight: $font_weight_light;

                               &:focus{
                                border-colot: $color_line;
                               }
                            }
                            .wpcf7-checkbox{
                                .wpcf7-list-item{
                                    margin-left: 0;
                                    input[type="checkbox"]{
                                        display: inline-block;
                                    }

                                    .wpcf7-list-item-label{
                                        font-size: 12px;
                                    }
                                }
                            }
                        }//.form-group

                        .modal-send-btn{
                            input[type="submit"]{
                                background-color: darken($color_line, 5%);
                                color: $color_white;
                                padding: 9px 20px;
                                border: none;
                                @include border-radius(20px);
                                &:focus{
                                    outline: none;
                                }
                            }
                        }//.modal-send-btn
                    }
                }//.modal-body
            }
            
        }//.sk-wcontact-form-popup
    }  
}

.modal-backdrop.in{
    opacity: 0.8;
}