.sk-c-double-section{
  background-color: lighten($color_black, 98%);
  padding: 60px 0;

  .sk-section-1{
    margin-bottom: 100px;
  }

  .sk-title{
    font-size: 22px;
    font-weight: bold;
    margin: 0 0 20px 0;
    word-wrap: break-word;
  }

  .sk-description{
    font-size: 16px;
    line-height: 2;
    font-family: $font_secondary;
  }
}// End .sk-purpose-n-historic
