.site-footer {
    background-color: $color_secondary;
    padding: 50px 0;
    /* RESPONSIVE */
    @include media( mb ) {
        padding: 40px 0;
    }

    .c-section {
        margin: 40px 0;

        h2 {
            margin: 0 0 20px;
            font-size: 14px;
            color: $color_white;
            font-weight: $font_weight_normal;
        }

        ul {
            list-style: none;

            li {
                color: darken($color_white, 50%);
                margin-bottom: 15px;
                font-size: 14px;
                @include transition( all 0.2s);

                &:last-child{
                  margin-bottom: 0;
                }
                &:hover {
                    @include transition( all 0.4s);
                    color: darken($color_white, 20%);
                }

                a {
                    strong {
                        color: $color_white;
                        margin-right: 5px;
                        font-weight: $font_weight_normal;
                    }
                }
            }
        }
    }
    //c-section
}
