.sk-inner-page{
  min-height: 60vh;

  .c-article{
    .sk-title-des{
      margin-top: 0;
    }
  }

}

.sk-letter{
  @extend %sk-center;
  font-family: $font_secondary;
  font-size: 700px;
  font-weight: 500;
  z-index: 1;
  line-height: 0.6;
  top: 43%;
  color: rgba( $color_white, 0.6);

  @include media(xs){
    font-size: 400px;
  }
}

.sk-inner-banner {
    position: relative;
    min-height: 300px;
    height: calc( 100vh - 64px );
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @include transition( all 0.5s );

    &:after{
      content:'';
      background-color: rgba( $color_black, 0.2);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom:0;
      z-index: 1;
    }

    @include media(sm){
      max-height: 500px;
    }

    @include media(xs){
      height: calc( 100vh - 64px );
    }

    .c-article {
        position: absolute;
        left: 5%;
        top: 50%;
        z-index: 9;
        @include translate(0, -50%);

        @include media(xs){
          width: 75%;
        }

        @include media(mb){
          width: 100%;
        }

        .sk-title-des {
            &:after {
                left: 35%;
                top: -35%;
            }

            .sk-description {
                width: 50%;
            }
        }

        @include media(xs) {
          left: 0;
          padding: 0 15px;

            .sk-title-des {
                margin-top: 0;
                color: $color_white;

                &:after {
                    display: none;
                }

                .sk-title {
                    margin-top: 0;
                    font-size: 26px;
                }

                .sk-description {
                    width: 100%;
                }
            }
        }//End media
    }

    .sk-scroll-down {
        width: 47px;
        word-wrap: break-word;
        text-align: center;
        font-size: 13px;
        font-weight: 500;
        bottom: 0;
        letter-spacing: 1.5px;

        img {
            margin-top: 10px;
            @include media(xs) {
              margin-top: 5px;
            }
        }
    }
}
