.sk-inner-intro{
  padding: 100px 15%;
  text-align: center;
  @include media(sm){
    padding: 100px 5%;
  }

  .sk-title{
    font-size: 38px;
    font-weight: bold;
    margin: 0 0 50px 0;
  }

  @include media(xs){
    padding: 100px 0;
    .sk-title{
      font-size: 26px
    }
  }

  .sk-description{
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
    font-family: $font_secondary;
    word-wrap: break-word;
  }
}// End .sk-what-we-do
