.site-footer{
	background-color:$color-secondary;
	color:$light;
	// position:relative;
	padding: 85px 0;

	// MEDIA-QUERIES //
	@include media(xs){
	    padding:40px 0;
	}

	.footer-widget{
		font-family: $title-font;
		.widget{
			margin-bottom: 0;
			
			h3{
				font-size: 14px;
				font-family: $title-font;
				margin: 0 0 20px;
				font-weight: 400;

				@include media(xs){
				    margin: 0 0 15px;
				}
			}

			address{
				margin-bottom: 20px;
				font-style: normal;
				line-height: 1.42857;

				.sub-title {
				    font-size: 14px;
				    line-height: 14px;
				    text-transform: uppercase;
				    margin-bottom: 4px;
				}//.sub-title

			}//address

			p{
				// font-size:16px;
				font-weight: 300;
				line-height: 20px;
				margin-bottom: 2px;	
			}
			
			ul{
				
				line-height: 16px;
				margin: 0;

			// MEDIA-QUERIES //

				@include media(xs){
				   margin-bottom:30px;
				}
					li{
					font-size: 14px;
					font-weight: 600;
					list-style:none;
					margin-bottom:15px;
					text-transform: capitalize;

					@include media(xs){
						margin-bottom:10px; 
					}
					&:last-child{
						margin-bottom: 0;
					}

					a{
						color: #808080;
						font-weight: 300;
					}

				}//li
			}//ul	

			a{
				color: #808080;
				@include transition(all ease-in-out 0.5s);

				&:hover{
					color: $border;
				}//&:hover
			}//a

			p{
				color: #808080;
				margin:0;
			}

		}//.widget

	}//.footer-widget  
}//.site-footer
