.footer-info-wrapper{
	background-color: $body-bg;
	padding: 50px 0;

	// MEDIA-QUERY //

	 @include media(sm){
	    padding: 40px 0; 
	 }

	.sk-footer-info{

		// MEDIA-QUERY //

		 @include media(sm){
		    margin-bottom:25px; 
		 }

		h2{
			color: $black;
			font-family: $title-font;
			font-size: 20px;
			font-weight: 600;
			margin: 0 0 35px 0;
			text-transform: uppercase;

			// MEDIA-QUERY //

			 @include media(sm){
			    margin-bottom:10px; 
			 }
		}

		p{
			color: $black;
			margin: 0 0 10px 0;
		}
		
	}

}

