.sk-cm-table{

	&.sk-foo-table{
		thead{
			background-color: $theme-color;
			font-family: $title-font;
			tr{
				&.footable-header{
					th{
						border-bottom: none;
						color: $black;
						cursor: pointer;
						font-weight: 400;
						padding: 10px 15px;
						position: relative;

						.fooicon{
							bottom: $light;
							display: block;
							font-family: 'FontAwesome' !important;
							font-size: 16px;
							right: 10px;
							position: absolute;

							&.fooicon-sort{
								font-family: 'FontAwesome' !important;
								&:before{
									content: '\f175';
								}
								&:after{
									content: '\f176';
								}
							}
						}

						.fooicon-sort-desc{
							&:after{
							content: '\f161';
							}

							&:before{
								display: none;
							}
						}

						.fooicon-sort-asc{
							&:after{
								content: '\f160';
							}

							&:before{
								display: none;
							}
						}
					}
				}
			}

		}

		tbody{
			 tr{
			 	cursor: pointer;
				th{
					border-color: $border;
					vertical-align: middle;

					&:last-child{
						border-bottom: 1px $border solid 
					}
				}

				td{
					border-top: none;
					border-bottom: 1px $border solid;
					padding: 15px;
					position:relative;
					vertical-align: middle;

					@include media(mb){
						white-space: normal;
					}


					&.footable-last-visible{
						padding-right: 30px;
						position: relative;

						.footable-toggle{
							font-family: 'FontAwesome' !important;
							font-size: 20px;
							right: 10px;
							top: 15px;
							margin-right: 0 !important;
							position: absolute;
							opacity: 1;

							&.fooicon-plus:before{
								content:'\f067';
							}

							&.fooicon-minus:before{
								content: '\f068';
							}
						}
						a{
							&.light-box-link{
								color: $black;
								margin-left: 5px;
							}
						}
					}

					&.pdf-download-block{
						.pdf-link{
							display: block;
							a{
								color: $black;
								display: inline-block;
								margin-bottom: 5px;
								font-style: italic;
								margin-right: 10px;
								
								img{
									height: 40px;
									width: 40px;
								}
							}
						}
					}
				}
				
				&.footable-detail-row{
					> td{
						background: $light;
						padding: 0;

						table{
							margin: 0 auto;
							width: 85%;

							> tbody{

								> tr{

									&:nth-of-type(even){
											background-color: #f9f9f9;
									}
									&:nth-of-type(odd){
										background-color: $light;
									}
										
									&:last-child{
										td{
											border-bottom: none;

										}
									}
								}
								td{
									a{
										color: $black;
										&:hover{
											text-decoration: underline !important;
										}
									}
								}
							}
						}
					}
				}
			}

		}
	}
}