
<style type="text/css">
    a{
        color: #ffd700;
    }

</style>

<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="full2" object="drag-module" bgcolor="#303030" c-style="not6BG" style="background-color: #f8f8f8;">
  <tbody><tr mc:repeatable="">
    <td align="center" id="not6">
    <div mc:hideable="">

      <!-- Mobile Wrapper -->
      <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="mobile2">
        <tbody><tr>
          <td width="100%" align="center">

            <div class="sortable_inner ui-sortable">
            <!-- Space -->
            <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="full2" object="drag-module-small">
              <tbody><tr>
                <td width="600" height="50"></td>
              </tr>
            </tbody></table><!-- End Space -->

            <!-- Space -->
            <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="full2" object="drag-module-small">
              <tbody><tr>
                <td width="600" height="50"></td>
              </tr>
            </tbody></table><!-- End Space -->

            <!-- Start Top -->
            <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="mobile2" bgcolor="#4edeb5" style="border-top-left-radius: 5px; border-top-right-radius: 5px; background-color: #e6e6e6" object="drag-module-small" c-style="not6GreenBG">
              <tbody><tr>
                <td width="600" valign="middle" align="center" class="logo">

                  <!-- Header Text -->
                  <table width="540" border="0" cellpadding="0" cellspacing="0" align="center" style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="fullCenter2">
                    <tbody><tr>
                      <td width="100%" height="20"></td>
                    </tr>
                    <tr>
                      <td width="100%">
                          <span object="image-editable">
                            @logo@
                          </span>
                      </td>
                     
                    </tr>
                    <tr>
                      <td width="100%" height="10"></td>
                    </tr>
                  </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                  <td width="600" valign="middle" align="center">
                      <table width="540" border="0" cellpadding="0" cellspacing="0" align="center" style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="fullCenter2">
                        <tbody>
                        <td width="100%">
                        <span style="font-family: 'proxima_novathin', Helvetica; font-weight: 600;"><singleline>@organization_name@</singleline></span>
                      </td>
                        <tr>
                          <td width="100%" height="20"></td>
                        </tr>
                      </tbody>
                      </table>
                  </td>
              </tr>
            </tbody></table>

            </div>

            <!-- Mobile Wrapper -->
            <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="full2" object="drag-module-small" style="-webkit-border-bottom-left-radius: 5px; -moz-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px;">
              <tbody><tr>
                <td width="600" align="center" style="border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; background-color: rgb(255, 255, 255);" bgcolor="#ffffff" c-style="not6Body">

                  <div class="sortable_inner ui-sortable">

                  <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="mobile2" bgcolor="#ffffff" c-style="not6Body" object="drag-module-small" style="background-color: rgb(255, 255, 255);">
                    <tbody><tr>
                      <td width="600" valign="middle" align="center">

                        <table width="540" border="0" cellpadding="0" cellspacing="0" align="center" style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="fullCenter2">
                          <tbody><tr>
                            <td width="100%" height="30"></td>
                          </tr>
                        </tbody></table>
                      </td>
                    </tr>
                  </tbody></table>

                  <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="mobile2" bgcolor="#ffffff" c-style="not6Body" object="drag-module-small" style="background-color: rgb(255, 255, 255);">
                    <tbody><tr>
                      <td width="600" valign="middle" align="center">

                        <table width="540" border="0" cellpadding="0" cellspacing="0" align="center" style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="fullCenter2">
                          <tbody><tr>
                            <td valign="middle" width="100%" style="text-align: left; font-family: Helvetica, Arial, sans-serif; font-size: 35px; color: #3f4345; line-height: 30px; font-weight: 400;" t-style="not6Headline" mc:edit="40" object="text-editable">
                              <!--[if !mso]><!--><span style="font-family: 'proxima_novathin', Helvetica; font-weight: normal;"><!--<![endif]--><singleline>@header_text@ </singleline><!--[if !mso]><!--></span><!--<![endif]-->
                            </td>
                          </tr>
                        </tbody></table>
                      </td>
                    </tr>
                  </tbody></table>

                  <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="mobile2" bgcolor="#ffffff" c-style="not6Body" object="drag-module-small" style="background-color: rgb(255, 255, 255);">
                    <tbody>
                        <tr>
                          <td width="600" valign="middle" align="center">

                            <table width="540" border="0" cellpadding="0" cellspacing="0" align="center" style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="fullCenter2">
                                  <tbody><tr>
                                    <td valign="middle" width="100%" style="text-align: left; font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #3f4345; line-height: 24px;" t-style="not6Text" mc:edit="41" object="text-editable">
                                      <!--[if !mso]><!--><span style="font-family: 'proxima_nova_rgregular', Helvetica; font-weight: normal;"><!--<![endif]--><singleline>@body_text@ </singleline><!--[if !mso]><!--></span><!--<![endif]-->
                                    </td>
                                  </tr>
                                </tbody>
                            </table>
                          </td>
                        </tr>
                  </tbody>
                  </table>

                  <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="mobile2" bgcolor="#ffffff" c-style="not6Body" object="drag-module-small" style="background-color: rgb(255, 255, 255);">
                    <tbody><tr>
                      <td width="600" valign="middle" align="center">

                        <table width="540" border="0" cellpadding="0" cellspacing="0" align="center" style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="fullCenter2">
                            <tbody><tr>
                              <td valign="middle" width="100%" style="text-align: left; font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #3f4345; line-height: 24px;" t-style="not6Text" mc:edit="43" object="text-editable">
                                <!--[if !mso]><!--><span style="font-family: 'proxima_nova_rgregular', Helvetica; font-weight: bold;"><!--<![endif]-->
                                <multiline>
                                  @footer_text@
                                </multiline><!--[if !mso]><!--></span><!--<![endif]-->
                              </td>
                            </tr>
                          </tbody>
                        </table>

                        <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="full2" object="drag-module-small">
                          <tbody><tr>
                            <td width="600" height="10"></td>
                          </tr>
                        </tbody></table>

                  <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="mobile2" bgcolor="#ffffff" c-style="not6Body" object="drag-module-small">
                        <tbody>
                        <tr>
                            <td width="600" style="color:#555555;" valign="middle" width="100%" style="text-align: left; font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #3f4345; line-height: 24px;" t-style="not6Text" mc:edit="43" object="text-editable" style="font-family: 'proxima_nova_rgregular', Helvetica; font-weight: normal;">
                                <table width="540" border="0" cellpadding="0" cellspacing="0" align="center" style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="fullCenter2">
                                    <tbody><tr>
                                      <td valign="middle" width="540" style="text-align: left; font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #3f4345; line-height: 24px;" t-style="not6Text" mc:edit="41" object="text-editable">
                                        <!--[if !mso]><!--><span style="font-family: 'proxima_nova_rgregular', Helvetica; font-weight: normal;"><!--<![endif]--> <span style="font-family: 'proxima_nova_rgregular', Helvetica; font-weight: normal;"><singleline class="address">@contact_info@</singleline></span><!--<![endif]-->
                                      </td>
                                    </tr>
                                  </tbody>
                              </table>
                               
                            </td>          
                        </tr>
                        
                    </tbody></table>


                  <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="full2" object="drag-module-small">
                      <tbody><tr>
                          <td width="600" height="10"></td>
                      </tr>
                      </tbody></table>

                  <table width="540" border="0" cellpadding="0" cellspacing="0" align="center" style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="fullCenter2">
                      <tbody><tr>
                          <td valign="middle" width="100%" style="text-align: left; font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #3f4345; line-height: 24px;" t-style="not6Text" mc:edit="43" object="text-editable">
                              @site_logo@
                          </td>
                      </tr>
                      </tbody>
                  </table>

                  <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="full2" object="drag-module-small">
                      <tbody><tr>
                          <td width="600" height="10"></td>
                      </tr>
                      </tbody>
                  </table>

                    <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="mobile2" bgcolor="#ffffff" c-style="not6Body" object="drag-module-small" style="background-color: rgb(255, 255, 255);">
                                        <tbody><tr>
                                          <td width="600" valign="middle" align="center">

                                            <table width="540" border="0" cellpadding="0" cellspacing="0" align="center" style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="fullCenter2">
                                              <tbody><tr>
                                                <td valign="middle" width="100%" style="text-align: left; font-family: Helvetica, Arial, sans-serif; font-size: 23px; color: #3f4345; line-height: 30px; font-weight: 100;" t-style="not6Headline" mc:edit="40" object="text-editable">
                                                  <table style="width:126px !important;" border="0" cellpadding="0" cellspacing="0" width="126" align="left" class="mobile2" c-style="not6Body" object="drag-module-small">
                                                        <tbody><tr>
                                                            <td style="color:#555555;">
                                                                <a href="@fb_link@" style="color:#555555;text-decoration:none;" data-color="Online Version">
                                                                    <img src="@fb_icon@" alt="32x32x1" style="border-radius:50%;display:block;margin:0;padding:0;" height="32" width="32" class="image_target">
                                                                </a>
                                                            </td>
                                                            <td width="10">&nbsp;</td>
                                                            <td style="color:#555555;">
                                                                <a href="@twitter_link@" style="color:#555555;text-decoration:none;" data-color="Online Version">
                                                                    <img src="@twitter_icon@" alt="32x32x2" style="border-radius:50%;display:block;margin:0;padding:0;" height="32" width="32">
                                                                </a>
                                                            </td>
                                                            <td width="10">&nbsp;</td>
                                                            <td style="color:#555555;">
                                                                <a href="@insta_link@" style="color:#555555;text-decoration:none;color:#555555;" data-color="Online Version">
                                                                    <img src="@insta_icon@" alt="32x32x3" style="border-radius:50%;display:block;margin:0;padding:0;" height="32" width="32">
                                                                </a>
                                                            </td>                                                   
                                                        </tr>
                                                        <tr>
                                                            <td height="29"></td>
                                                        </tr>
                                                    </tbody></table>
                                                </td>
                                              </tr>
                                            </tbody></table>
                                          </td>
                                        </tr>
                                      </tbody>
                    </table>

                

                </div>
                </td>
              </tr>
            </tbody></table>

            <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="full2" object="drag-module-small">
              <tbody><tr>
                <td width="600" height="30"></td>
              </tr>
            </tbody></table>

            <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="mobile2" object="drag-module-small">
              <tbody><tr>
                <td width="600" height="30"></td>
              </tr>
            </tbody></table>

            <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="mobile2" object="drag-module-small">
              <tbody><tr>
                <td width="600" height="29"></td>
              </tr>
              <tr>
                <td width="600" height="1" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
              </tr>
            </tbody></table>

          </td>
        </tr>
      </tbody></table>

    </div>
    </td>
  </tr>
</tbody></table>