<style type="text/css">
    a {
        color: #ffd700;
    }

</style>

<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="full2" object="drag-module"
       bgcolor="#303030" c-style="not6BG" style="background-color: #f8f8f8;">
    <tbody>
    <tr mc:repeatable="">
        <td align="center" id="not6">
            <div mc:hideable="">

                <!-- Mobile Wrapper -->
                <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="mobile2">
                    <tbody>
                    <tr>
                        <td width="100%" align="center">

                            <div class="sortable_inner ui-sortable">
                                <!-- Space -->
                                <table width="600" border="0" cellpadding="0" cellspacing="0" align="center"
                                       class="full2" object="drag-module-small">
                                    <tbody>
                                    <tr>
                                        <td width="600" height="50"></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <!-- End Space -->

                                <!-- Space -->
                                <table width="600" border="0" cellpadding="0" cellspacing="0" align="center"
                                       class="full2" object="drag-module-small">
                                    <tbody>
                                    <tr>
                                        <td width="600" height="50"></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <!-- End Space -->

                                <!-- Start Top -->
                                <table width="600" border="0" cellpadding="0" cellspacing="0" align="center"
                                       class="mobile2" bgcolor="#4edeb5"
                                       style="border-top-left-radius: 5px; border-top-right-radius: 5px; background-color: #e6e6e6"
                                       object="drag-module-small" c-style="not6GreenBG">
                                    <tbody>
                                    <tr>
                                        <td width="600" valign="middle" align="center" class="logo">

                                            <!-- Header Text -->
                                            <table width="540" border="0" cellpadding="0" cellspacing="0" align="center"
                                                   style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;"
                                                   class="fullCenter2">
                                                <tbody>
                                                <tr>
                                                    <td width="100%" height="20"></td>
                                                </tr>
                                                <tr>
                                                    <td width="100%">
                          <span object="image-editable">
                            @logo@
                          </span>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td width="100%" height="10"></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!-- Mobile Wrapper -->
                            <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="full2"
                                   object="drag-module-small"
                                   style="-webkit-border-bottom-left-radius: 5px; -moz-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px;">
                                <tbody>
                                <tr>
                                    <td width="600" align="center"
                                        style="border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; background-color: rgb(255, 255, 255);"
                                        bgcolor="#ffffff" c-style="not6Body">

                                        <div class="sortable_inner ui-sortable">

                                            <table width="600" border="0" cellpadding="0" cellspacing="0" align="center"
                                                   class="mobile2" bgcolor="#ffffff" c-style="not6Body"
                                                   object="drag-module-small"
                                                   style="background-color: rgb(255, 255, 255);">
                                                <tbody>
                                                <tr>
                                                    <td width="600" valign="middle" align="center">

                                                        <table width="540" border="0" cellpadding="0" cellspacing="0"
                                                               align="center"
                                                               style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;"
                                                               class="fullCenter2">
                                                            <tbody>
                                                            <tr>
                                                                <td width="100%" height="30"></td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>

                                            <table width="600" border="0" cellpadding="0" cellspacing="0" align="center"
                                                   class="mobile2" bgcolor="#ffffff" c-style="not6Body"
                                                   object="drag-module-small"
                                                   style="background-color: rgb(255, 255, 255);">
                                                <tbody>
                                                <tr>
                                                    <td width="600" valign="middle" align="center">

                                                        <table width="540" border="0" cellpadding="0" cellspacing="0"
                                                               align="center"
                                                               style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;"
                                                               class="fullCenter2">
                                                            <tbody>
                                                            <tr>
                                                                <td valign="middle" width="100%"
                                                                    style="text-align: left; font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #3f4345; line-height: 24px;"
                                                                    t-style="not6Text" mc:edit="41"
                                                                    object="text-editable">
                                                                    <!--[if !mso]><!--><span
                                                                        style="font-family: 'proxima_nova_rgregular', Helvetica; font-weight: normal;"><!--<![endif]--><singleline>
                                                                    @body_text@
                                                                </singleline><!--[if !mso]><!--></span><!--<![endif]-->
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>

                                            <table width="600" border="0" cellpadding="0" cellspacing="0" align="center"
                                                   class="mobile2" bgcolor="#ffffff" c-style="not6Body"
                                                   object="drag-module-small"
                                                   style="background-color: rgb(255, 255, 255);">
                                                <tbody>
                                                <tr>
                                                    <td width="600" valign="middle" align="center">

                                                        <table width="600" border="0" cellpadding="0" cellspacing="0"
                                                               align="center" class="full2" object="drag-module-small">
                                                            <tbody>
                                                            <tr>
                                                                <td width="600" height="10"></td>
                                                            </tr>
                                                            </tbody>
                                                        </table>

                                                        <table width="600" border="0" cellpadding="0" cellspacing="0"
                                                               align="center" class="full2" object="drag-module-small">
                                                            <tbody>
                                                            <tr>
                                                                <td width="600" height="10"></td>
                                                            </tr>
                                                            </tbody>
                                                        </table>

                                                        <table width="600" border="0" cellpadding="0" cellspacing="0"
                                                               align="center" class="full2" object="drag-module-small">
                                                            <tbody>
                                                            <tr>
                                                                <td width="600" height="10"></td>
                                                            </tr>
                                                            </tbody>
                                                        </table>

                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="full2"
                                   object="drag-module-small">
                                <tbody>
                                <tr>
                                    <td width="600" height="30"></td>
                                </tr>
                                </tbody>
                            </table>

                            <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="mobile2"
                                   object="drag-module-small">
                                <tbody>
                                <tr>
                                    <td width="600" height="30"></td>
                                </tr>
                                </tbody>
                            </table>

                            <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="mobile2"
                                   object="drag-module-small">
                                <tbody>
                                <tr>
                                    <td width="600" height="29"></td>
                                </tr>
                                <tr>
                                    <td width="600" height="1" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
                                </tr>
                                </tbody>
                            </table>

                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </td>
    </tr>
    </tbody>
</table>