
.svarta-listan{
	.sk-cm-table{
		.sk-foo-table{
			table{
				thead{
					background-color: $black;
					tr{
						th{
							color: $light;
						}
					}
				}
			}
		}
	}

	.inner-banner-content{
		.left-text-wrap{
			.photo-gall-btn{
				background-color: $black;
				&:hover{
					background-color: $theme-color;
				}
			}
		}
	}
}