// COMMON TITLE WITH CHECKBOX

.datepicker {
    padding-bottom: 0px !important;
}

.sk-c-title {
    margin-bottom: 30px;
    @include clearfix();

    h2 {
        float: left;
        margin: 0;
        font-weight: 500;
        font-size: 20px;
    }

    .sk-c-title-checkbox {
        float: right;

        label {
            top: -8px;
        }
    }
}
// End .sk-c-title

.sk-cm-gap {
    margin-bottom: 40px;
    @include clearfix();
}

.sk-check-form {
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
}

.sk-form-group-gap {
    padding-top: 15px;
    margin-bottom: 40px;
}

.member-register {
    .sk-letter {
        font-size: 450px;
        top: 50%;
        @include media(xs) {
            font-size: 280px;
        }
    }
}

.sk-member-register-form {
    padding: 80px 0;

    .sk-personal-info {
        margin-bottom: 45px;
        @include clearfix();

        .sk-check-form {
            margin-top: 10px;
        }
    }

    .btn-group {
        > .btn:first-child {
            margin-left: 0;
            border-radius: 0;
            border-bottom: 1px solid #000;
            padding-bottom: 13px;
            padding-left: 0;
        }
    }

    .bootstrap-select {
        button.dropdown-toggle {
            .caret:after {
                color: $color_black;
                font-size: 20px;
            }
        }
    }

    .form-control {
        input{
            height: 28px;
        }
    }

    .certificate-date{
      height: 38px;
    }

    .c-form-group {
        position: relative;
        padding-top: 15px;

        label {
            display: block;
            position: absolute;
            top: 0;
            margin-bottom: 0;
            font-size: 12px;
            font-weight: 500;
            z-index: 0;
        }

        .form-control {
            position: relative;
            z-index: 1;
            padding: 0;
            border: none;
            margin-bottom: 45px;
            border-bottom: 1px solid $color_black;
            background-color: transparent;
            @include border-radius(0);
            @include box-shadow(none);
        }
    }

    .sk-master-craftman,.sk-member-certificate {
        .c-form-group{
            padding-top: 9px;
        }
    }

    .form-group {
        label {
            display: block;
            font-weight: 500;
            font-size: 12px;
        }
    }

    .sk-c-select {
        width: 100%;
        background-color: lighten( $color_black, 95%);
        top: -13px;

        &:after {
            color: $color_black;
            font-size: 30px;
        }

        .filter-option {
            color: $color_black;
            font-size: 12px;
        }

        button{
            &.dropdown-toggle{
                padding-bottom: 20px !important;
            }
        }

        select {
            padding: 15px 37px 15px 10px;
            border: none;
            height: initial;
        }
    }

    .sk-other-info{
        textarea{
            border: 1px $color_black solid !important;
            margin-top: 30px;
            padding: 8px !important;
            width: 100%;

            @include media(mb) {
                margin-top: 35px;
            }
        }
    }
}
