.about-us{
  .sk-inner-banner{
    .c-article{
      left: 50%;
      @include translate(-50%, -50%);
      background-position: center;
      background-repeat: no-repeat;

      @include media(xs){
        height: initial;
      }
      .sk-title-des{
        &:after{
          display: none;
        }
        .sk-title{
            color: $color_white;
            font-family: $font_secondary;
            font-size: calc(2vw + 3vh + 1vmin);
            font-weight: 300;
            margin: 0;
            padding-left: 0;
            word-wrap: break-word;
            text-align: center;
            &:after{
              top: 130%;
              height: 2px;
              left: 50%;
              @include translate(-50%, 0);
            }
        }

        .sk-description{
          background-color: transparent;
          font-size: 16px;
          font-family: $font_secondary;
          font-weight: 400;
          left: 0;
          margin-top: 10px;
          color: $color_white;
          text-align: center;
          width: 100%;
        }
      }

      @include media(mb){
        padding: 45% 0 45%;
        .sk-title-des{
          .sk-title{
            font-size: 30px;
          }
        }
      }

    }
  }
}//End .about-us
