.sk-gallery-section{
    padding: 80px 0;

    @include media(xs) {
        padding: 40px 0;
    }
    @media (max-width: 991px) { .single-gallery-item{ width: 49%; display: inline-block; vertical-align: top; } }
    @media (max-width: 500px) { .single-gallery-item { width: 100%; } }

    .sk-gallery-item{
        position: relative;
        margin-bottom: 60px;

        @include media(xs) {
            margin: 0 auto 60px;
            max-width: 400px;
        }

        @include media(mb) {
            margin-bottom: 60px;
        }
        

        figure{
            margin: 0;
            a{
                height: 180px;
                background-repeat:no-repeat;
                background-position: center center;
                background-attachment: scroll;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                display: block;

                figcaption{
                    position: absolute;
                    top: 100%;
                    display: block;
                    width: 100%;

                    span{
                        color: $color_black;
                        display: block;
                        font-size: 1.5em;
                        font-family: $font_primary;
                        font-weight: $font_weight_bold;
                        margin: 10px 0;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }

}/*sk-gallery-section */

.modal-open .ekko-lightbox{
    
    &.modal{
        text-align: center;
        padding: 0!important;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex !important;
        -webkit-justify-content: center;
        justify-content: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -webkit-box-align: center;
        align-items: center;


        .modal-dialog{
            margin: 10px;
            width:100% !important;
            .modal-content{
                background-color: transparent;

                .modal-header{
                    display: block !important;
                    padding: 0;

                    .modal-title{
                        display: none;
                    }

                    .close{
                        background-color: darken($color_line, 5%);
                        right: -10px;
                        top: -7px;
                        opacity: 1;
                        z-index: 2;
                    }
                }

                .modal-body{
                    padding: 0;
                    .ekko-lightbox-item{
                        height: 100%;
                        img{
                            height: 100%;
                        }
                    }

                    .ekko-lightbox-nav-overlay{
                        a{
                            span{
                                color: darken($color_line, 5%);
                                text-align: left;
                            }
                            &:last-child{
                                span{
                                   text-align: right; 
                                }
                            }
                        }
                    }
                }

                .modal-footer{
                    padding: 0;
                    text-align: left;

                    .modal-footer-content{
                        color: $color_line;
                        font-size: 14px;

                        a{
                            font-weight: 500;
                        }
                    }
                    
                }
            }
        }
    }
}

// .modal {
//   text-align: center;
//   padding: 0!important;
// }

// .modal:before {
//   content: '';
//   display: inline-block;
//   height: 100%;
//   vertical-align: middle;
//   margin-right: -4px;
// }

// .modal-dialog {
//   display: inline-block;
//   text-align: left;
//   vertical-align: middle;
// }