
/*custome checkbox*/
input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label {
    cursor: pointer;
    position: relative;
    padding-right: 30px;
}

input[type="checkbox"]+label:before, label:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
}

input[type="checkbox"]+label:before {
    width: 20px;
    height: 20px;
    background: #fff;
    border: 2px solid #000;
    cursor: pointer;
    transition: background .3s;
}

input[type="checkbox"] {
    outline: 0;
    margin-right: 10px;
}

input[type="checkbox"]:checked + label:before {
    border: none;
    border: 2px solid #000;
}

input[type="checkbox"]:checked + label:after {
    transform: rotate(-45deg);
    top: 5px;
    right: 4px;
    width: 12px;
    height: 6px;
    border: 2px solid #000;
    border-top-style: none;
    border-right-style: none;
}
