
.modal {
    .modal-title {
        font-family: "Oswald", sans-serif;
        color: #6b6b6b;
        letter-spacing: 1.5px;
        text-align: center;
    }

    .close {
        border: none;
        background: #606060;
        color: #fff;
        width: 30px;
        height: 30px;
        position: absolute;
        border-radius: 50%;
        right: -15px;
        top: -15px;

        &:hover {
            @include transition( background-color 0.3s ease-in-out );
            background-color: $color_error;
        }
    }

    .modal-header {
        border-bottom: none;
    }

    .modal-footer {
        border-top: none;
        padding-top: 0;

        .or-total-amount {
            color: #6b6b6b;
            font-size: 17px;
            margin-bottom: 10px;
        }

        button {
            border: none;
            padding: 6px 15px;
            background-color: $color_success;
            width: 100px;
            margin-top: 5px;
            color: $color_white;  

            &:hover{
              @include transition( background-color 0.3s ease-in-out );
              background-color: darken( $color_success, 7% );
            }
        }
    }

    .modal-content {
        border: none;
        @include border-radius(0);
        @include box-shadow( none );
    }
}
//modal
