// mr mobile menu configuration
$overlay: false;
$mr_menu_type: shift; //overlay or shift
// overlay or shif
$mr_menu_direction: right;
// left or right
$mr_menu_animation: all 0.3s ease-in-out;
$mr_overlay_color: rgba(#fff, 0);
$mr_menu_width: 300px;
$mr_menu_color: #000;
$mr_menu_text_color: #fff;
// sub menu arrow
$mr_submenu_indicator_arrow_width: 30px;
$mr_submenu_indicator_arrow_color: #fff;
$mr_submenu_indicator_arrow_animation: true;
// close button
$mr_close_button_size: 20px;
$mr_close_button_position: right;
$mr_colse_button_animation: true;
//Browser reset
ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
// OVERLAY FOR MOBILE MENU
@if ( $overlay ) {
    .mr-mobile-menu-overlay {
        background-color: $mr_overlay_color;
        position: fixed;
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
        z-index: 99;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;

        &.mr-menu-open {
            opacity: 1;
            visibility: visible;
        }
    }
}
// End overlay
@if( shift == $mr_menu_type) and (left == $mr_menu_direction ) {
    body {
        position: relative;
        left: 0;
        -webkit-transition: $mr_menu_animation;
        -moz-transition: $mr_menu_animation;
        transition: $mr_menu_animation;

        &.mr-menu-open {
            left: $mr_menu_width;
        }
    }
}
@if( shift == $mr_menu_type) and (right == $mr_menu_direction ) {
    body {
        position: relative;
        right: 0;
        -webkit-transition: $mr_menu_animation;
        -moz-transition: $mr_menu_animation;
        transition: $mr_menu_animation;

        &.mr-menu-open {
            right: $mr_menu_width;
        }
    }
}

body {
    overflow-X: hidden;
}
//gh-shift-menu

.mr-mobile-menu {
    position: fixed;
    top: 0;
    height: 100%;
    overflow-y: auto;
    width: $mr_menu_width;
    z-index: 100;
    overflow-x: hidden;
    background-color: darken($mr_menu_color, 10%);
    -webkit-transition: $mr_menu_animation;
    -moz-transition: $mr_menu_animation;
    transition: $mr_menu_animation;
    //overlay right menu
    @if (overlay == $mr_menu_type) and (right == $mr_menu_direction) {
        right: -$mr_menu_width;

        &.mr-menu-open {
            right: 0;
        }
    }
    @if (overlay == $mr_menu_type) and (left == $mr_menu_direction) {
        left: -$mr_menu_width;

        &.mr-menu-open {
            left: 0;
        }
    }
    @if( shift == $mr_menu_type) and (left == $mr_menu_direction ) {
        left: -$mr_menu_width;

        &.mr-menu-open {
            left: 0;
        }
    }
    @if( shift == $mr_menu_type) and (right == $mr_menu_direction ) {
        right: -$mr_menu_width;

        &.mr-menu-open {
            right: 0;
        }
    }

    ul.menu {
        margin: 0;
        padding: 0;
        list-style: none;

        > li {
            > a {
                padding: 8px 35px 8px 15px;
                display: block;
                font-weight: 300;
                font-size: 15px;
                text-transform: capitalize;
                color: $mr_menu_text_color;
                position: relative;
            }

            ul {
                background-color: $mr_menu_color;
                display: none;

                li {
                    list-style: none;
                    position: relative;

                    a {
                        display: block;
                        padding: 8px 35px 8px 15px;
                        border-bottom: 1px solid darken($mr_menu_color, 5%);
                        color: $mr_menu_text_color;
                        font-size: 14px;
                        position: relative;
                    }

                    ul {
                        li {
                            a {
                                padding: 8px 0 8px 25px;
                            }
                        }
                    }
                }
            }
        }
        //li
    }
    //ul
}
//shift_menu

.mr-arrow-box {
    display: inline-block;
    float: right;
    width: $mr_submenu_indicator_arrow_width;
    transition: all 0.3s linear;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    @if $mr_submenu_indicator_arrow_animation {
        -webkit-transfrom: scale(0.5);
        -moz-transfrom: scale(0.5);
        transform: scale(0.5);

        .mr-menu-open & {
            -webkit-transfrom: scale(1);
            -moz-transfrom: scale(1);
            transform: scale(1);
            -webkit-transition: all 0.4s ease-in-out 0.2s;
            -moz-transition: all 0.4s ease-in-out 0.2s;
            transition: all 0.4s ease-in-out 0.2s;
        }
    }

    &.open {
        transform: rotate(180deg);
    }

    .mr-down-arrow {
        width: 8px;
        height: 8px;
        position: absolute;
        top: 46%;
        left: 60%;
        transform: translate(-50%, -50%);

        &:after,
        &:before {
            content: '';
            position: absolute;
            height: 100%;
            width: 2px;
            background-color: $mr_submenu_indicator_arrow_color;
        }

        &:after {
            transform: rotate(45deg) translateX(3px);
            transform-origin: right;
        }

        &:before {
            transform: rotate(-45deg) translateX(-3px);
            transform-origin: left;
        }
    }
}
// mr-arrow-box

.mr-close-wrapper {
    text-align: $mr_close_button_position;
    padding: 10px 7px;
    margin-bottom: 20px;

    .mr-inner-box {
        width: $mr_close_button_size;
        height: $mr_close_button_size;
        cursor: pointer;
        display: inline-block;
        position: relative;
        @if $mr_colse_button_animation {
            -webkit-transform: scale(0) rotate(180deg);
            -moz-transform: scale(0) rotate(180deg);
            transform: scale(0) rotate(180deg);

            .mr-menu-open & {
                -webkit-transform: scale(1) rotate(0deg);
                -moz-transform: scale(1) rotate(0deg);
                transform: scale(1) rotate(0deg);
                -webkit-transition: all 0.4s ease-in-out 0.3s;
                -moz-transition: all 0.4s ease-in-out 0.3s;
                transition: all 0.4s ease-in-out 0.3s;
            }
        }

        .mr-inner {
            display: inline-block;

            &:after,
            &:before {
                content: "";
                position: absolute;
                background-color: white;
                top: 50%;
                left: 50%;
                width: 2px;
                height: 100%;
                -webkit-transform: translate( -50%, -50% ) rotate(45deg);
                transform: translate( -50%, -50% ) rotate(45deg);
            }

            &:before {
                -webkit-transform: translate(-50%, -50%) rotate( -45deg);
                transform: translate(-50%, -50%) rotate( -45deg);
            }
        }
    }
}
