.category-section{

    .category-list{
        background:$ternary-color;
        // min-height: 417px;   
        margin-bottom:12px;

        .cat-image{

            img{
                @include media(xs){
                    width: 100%;
                }
            }
        }//.cat-image

        .category-content{
            padding:30px;
            
            // MEDIA-QUERY //

            @include media(sm){
               padding:20px;
             }

             @include media(ls){
                padding:15px;
             }

             .company-cat-name-wrap{
                position: relative;
                overflow: hidden;

                .company-cat-name{
                    width: auto;
                    

                    h2{
                        margin:0;
                        a{
                            color:$secondary-color;
                            font-size:16px;
                            font-weight:600;
                            line-height:18px;
                            font-family:$title-font;
                            text-transform:uppercase;
                            &:hover{
                                color:$theme-color;
                            }
                        }
                    } 

                    p{
                        margin:15px 0;
                    }
                    
                }//.company-cat-name

                
                .contact-info{
                    strong{
                        color:$secondary-color;
                    }
                }
             }//.company-cat-name-wrap

            .organization-logo{
                float: right;
                width: 60px;
            }

        }//.category-content 

    }//.category-list

    &.equal-height{
        @extend %equal-height-row;

        .c-padding{
            @extend %equal-height-col;
        }
    }
    
    .full-width-content{
        .category-list{
            min-height:auto;

            .organization-logo{
                width: 90px !important;
            }
        }
    }
}//.category-section