.filter{
	padding:20px 0;

   .grid-filter{
   		float:right;

         // MEDIA-QUERY //
         @include media(xs){
            float:none;
         }

   		.search-form{
   			display:inline-block;

            // MEDIA-QUERY //
            @include media(xs){
               display:block;
               margin-bottom:10px;
            }
            form{
               margin-bottom:0;
      			.search-box{
      				border:1px $border solid;
                  height: 35px;
                  @include border-radius(3px);

                  input,button{
                     background-color:transparent;
                     border:none;
                     @include box-shadow(none);
                     &:focus{
                        outline:none;
                     }
                  }

                  input{
                     float: left;
      				   padding: 5px;
                     width:calc( 100% - 37px);
                  }

      				button{
      					padding:0;
                     height:33px;
                     line-height:34px;
                     text-align:center;
                     vertical-align: middle;
                     width:33px;

                     .icon {
                       display: inline-block;
                       width: 22px;
                       height: 20px;
                       stroke-width: 0;
                       stroke: $black;
                       fill: $black;
                       margin-top: 8px;
                     }
      				}
      	
      			}//.search-box
         }//form

   		}//.search-form

   		.grid-option{
   			float:right;
   			line-height: 26px;
   			margin-left:10px;
            margin-top: 5px;

            // MEDIA-QUERY //
            @include media(xs){
               float:none;
            }

   			a{
   				color:$secondary-color;
               margin-left:5px;
               &.active{
                  color:$theme-color;
               }
               
               i{
                  font-size:22px;
               }
   			}

   			span.grid-text{
               font-family:$primary-font;
   				font-size:14px;
   				float: left;
   				margin-right: 5px;
   			}
   		}

   }//.grid-filter

}//.filter
