.staff-form{
   background:$body-bg;
   margin:0 auto;
   width:50%;
   @include box-shadow(0 0 4px #d2cece);

   // MEDIA-QUERIES //

   @include media(xs){
       width:100%;
   }


   h3{
      color: $black;
      // border-bottom:2px lighten($theme-color, 5%) solid;
      padding:20px;
      margin:0 20px;
      text-align:center;
      text-transform: uppercase;
   }
   form{
      padding:20px;
      .form-group{

         @include clearfix();

         label{
            font-size: 14px;
            font-weight:normal;

            // MEDIA-QUERIES //

            @include media(mb){
                width:100%;
            }

         }//label

         input{
            @include box-shadow(none);
            @include border-radius(0);
            border: 1px $border solid;
            padding:5px;
            height:35px;
            width:100%;
            &:focus{
               border-color:$theme-color;
               outline:none;
            }

            // MEDIA-QUERIES //

            @include media(mb){
                width:100%;
            }
         }

         input[type="submit"]{
            background:$theme-color;
            border: none;
            @include border-radius(none);
            @include box-shadow(none);
            @include text-shadow(none);
            color:$light;
            font-size:12px;
            line-height:1.2;
            text-transform:uppercase;
            padding:10px 15px;
            @include transition(background 0.3s ease-in-out);
            height:auto;
            width:auto;
            &:hover{
               background:$black;
            }
         }
         
      }//.form-group

      .register-here{
         display:inline-block;
         font-size: 14px;
         margin-left:10px;
         text-align:center;

         // MEDIA-QUERIES //

            @include media(ms){
               display:block;
               margin-top:10px;
               margin-left:0;
            }

            span{
               color:$secondary-color;
               font-weight:500;
            }

            a{
               color:$black;
               font-weight:500;
            }
      }//.register-here

      .lost-password{
         margin-top: 10px;

         a{
            color: $secondary-color;
            opacity: 0.75;

            &:hover,
            &:focus,
            &:active{
               opacity: 0.9;
            }
         }
      }
   }//form
}//.registration-form