
.site-header{
    background:$body-bg;
    height:70px;
    position:fixed;
    width:100%;
    z-index:9;

        .site-branding{
            float: left;
            line-height:70px;

            // MEDIA-QUERIES //

            @include media(sm){
                width:auto;
            }

            @include media(mb){
                float:none;
                text-align:center;
            }

            a{
                display: block;

                img{
                    margin-bottom: 3px;
                    width: 60px;
                }
            }
        }//.site-branding

        .nav-wrap{
            float: left;
            width: 100%;
            @include clearfix;

            // MEDIA-QUERIES //

            @include media(mb){
                float:none;
                padding:0;
            }

            .main-navigation{
                // float:left;
                
                @include media(sm){
                    display:none;
                }

                .menu-main-menu-container{

                    > ul{

                        > li{
                            padding:0 15px;
                            @include media(md){
                                padding: 0 9px;
                            }

                            &:last-child{
                                padding-right:0;
                            }

                            &.current-menu-item{
                                a{
                                    font-weight:700;
                                    // &:after{
                                    //     @include scale(1,1);
                                    // }
                                } 
                            }

                             ul{
                                left: auto;
                                &.sub-menu{
                                    background:$body-bg;
                                    border-top:2px darken($ternary-color, 3%) solid;
                                    @include box-shadow(none);
                                    right: 0;
                                    visibility: hidden;
                                    opacity: 0;
                                    top:100%;
                                    @include translate(0, 10px);
                                    @include transition(all 0.3s linear);  

                                    li{
                                        a{
                                            background: transparent;
                                            color: $secondary-color;
                                            font-size: 14px;
                                            line-height: 18px;
                                            padding:8px 20px;
                                            @include transition(color 0s);
                                            width: 275px;

                                            &:hover{
                                                background:$theme-color;
                                                color: $light;
                                            }
                                        }
                                    }
                                }
                            }

                            &:hover{
                                .sub-menu{
                                    visibility:visible;
                                    opacity:1;
                                    @include translate(0, 0);
                                }
                            }

                            > a{
                                color: $black;
                                display: inline-block;
                                // @include transition(all 1s ease-in-out);
                                padding:23px 0;
                                position:relative;
                            

                                &:after{
                                    content:'';
                                    background:$black;
                                    position:absolute;
                                    bottom:20px;
                                    height:1px;
                                    left:0;
                                    width:100%;
                                    @include transition(all 0.3s linear);
                                    @include scale(0, 1);
                                }

                                &:hover{
                                    &:after{
                                        @include scale(1,1);
                                    }
                                }       
                            }

                        }
                        
                    }// ul
                }//.menu-main-menu-container

            }//.main-navigation

                .mobile-menu{
                    color:$theme-color;
                    display:none;
                    float:right;
                    line-height: 70px;
                    font-size: 20px;

                    // media query //
                    @include media(sm){
                        display:inline-block;
                    }

                }//.mobile-menu
        }//.nav-wrap		
}//.site-header

.mm-menu{
    background:$black !important;
    color:$ternary-color !important;

    a.mm-title,
    .mm-menu em.mm-counter{
        color:$ternary-color !important;
    }

    .mm-menu .mm-listview>li .mm-next:after,
        .mm-next:after, .mm-prev:before{
        border-color:#cac8c8 !important;
    }

    .mm-menu .mm-listview>li.mm-selected>a:not(.mm-next), 
    .mm-menu .mm-listview>li.mm-selected>span{
        background:rgba(58, 56, 130, 0.5) !important;
    }
}

.mm-slideout { 
    z-index:auto !important;
}
