
.site-content{
    position:relative;
    padding-top:70px;
    .main-content{
        margin-bottom:70px;

        // MEDIA-QUERY //

         @include media(sm){
            margin-bottom: 40px;
         }

        .new-class {
            height:auto !important;
        }

        .grid-item{

            // MEDIA-QUERY //

             @include media(xs){
                width: 50%;  
             }
            
             @include media(ls){
                width:100%;
                
             }

            .image-link{

                &:hover{
                    .image-content{
                        background: rgba(0, 0, 0, 0.8);
                    }
                }

                .image-thumbnail-wrap{
                    background-repeat:no-repeat;
                    background-position:center center;
                    background-size:cover;
                    margin-bottom:12px;
                    height:206px;
                    margin-bottom:12px;
                    position:relative;
                    width:100%;
                }//.image-thumbnail-wrap    

                .image-content{
                    background:rgba(0, 0, 0, 0.6);
                    bottom:0;
                    color:$light;
                    font-size: 14px;
                    line-height: 16px;
                    left:0;
                    right:0;
                    position:absolute;
                    text-align: left;
                    padding:15px;
                    @include transition(all 0.3s ease-in-out);

                        // MEDIA-QUERY //
                         @include media(mb){
                            // top:0;
                         }

                         .img-overlay-text{
                            margin-right:10px;
                            overflow: hidden;
                            

                            .news-title{
                                color: $theme-color;
                                font-family: $title-font;
                                margin-bottom:5px;
                                span{
                                    color:$theme-color;
                                    display:block;
                                    font-weight:600;
                                    line-height: 20px;
                                    text-transform:uppercase;
                                }

                                .news-date{
                                    color:$light;
                                    font-size:12px;
                                    font-weight:normal;
                                }
                            }//.news-title

                            .restro-sub-title{
                                margin:0;
                                font-family: $primary-font;
                                &:first-letter{
                                    text-transform: capitalize;
                                }
                                a{
                                    &:hover{
                                        color:$light;
                                    }
                                }
                            }//.restro-sub-title
                            
                         } //.img-overlay-text

                         .organization-logo{
                            float: right;
                            width:60px;
                         }

                }//.image-content 

                .category-name{
                    background: $theme-color;
                    color: $light;
                    display: inline-block;
                    padding: 4px 10px;
                    position: absolute;
                    top: 0;
                    right: 0;
                }

            }//.image-link

        }//.grid-item
    }//.main-content

    .cm-padding{
        padding: 20px 0 0;
    }

    .inner-wrap{
    	padding:70px 0;

        // MEDIA-QUERIES //
             @include media(xs){
                padding:40px 0;
           }

        .post-nav{
            margin: 40px 0;
            text-align:center;
            .nav-pagination{
                display: inline-block;
                a{
                    background-color:$theme-color;
                    display:inline;
                    padding:6px 15px;
                    @include transition(all 0.3s ease-in-out);
                    color:$light;
                    &:hover{
                        background-color:$black;
                        color:$light;
                    }
                    i{
                        font-size:12px;
                        // margin:0 5px;
                    }
                }
            }//.nav-pagination        
        }//.poast-nav

    }//.inner-wrap

    #load-more-posts{
        position:relative;

        #loading-text{
            background:transparent;
            border: 1px $black solid;
            font-family:$primary-font;
            font-size:16px;
            margin: 20px auto 0;
            position:relative;
            padding:10px 13px;
            text-align:center;
            width: 190px;
            a{
                color:$black;
                &:hover{
                   color:$black; 
                }
            }

        } //#loading-text 

        .rosen-loader{
            margin-left:10px;

            i{
                font-size:20px;
            }
        }//.rosen-loader    
    }//.load-more-posts-news
}//.site-content 
