.c-inner-banner{
    
    background:$ternary-color;
    padding:5% 0;

    @include media(sm){
        margin-bottom: 5px;
    }

    .inner-banner-content{
        position:relative;

        .left-text-wrap{
            background:$light;
            color:$black;
            margin: 16px 0;
            height: 268px;
            padding:20px 45px;
            position:relative;
            right: -20px;
            z-index: 1; 

            @include media(md){
                padding:20px;
            }
            @include media(sm){
                min-height: auto;
                padding: 15px;
            }

            @include media(xs){
                right: 0;
                margin: 0;
                height: auto !important;
            }

            h3{
                font-family: $title-font;
                font-weight:500;
                font-size: 17px;
                margin:0 0 15px 0;
            }

            p{
                font-size:14px;
            }

            .photo-gall-btn{
                bottom: -18px;
                left:50%;
                @include transform(translate(-50%, 0));
                // margin-top:-20px;
                position:absolute;
                min-width: 175px;
            }
        } // .left-text-wrap

        .rgt-banner-image{
            background-position: center;
            background-size: cover;
            background-repeat:no-repeat;
            height:300px;
            right: 20px;
            position:relative;  

            @include media(xs){
                right: 0;
                margin-top: 30px;
            } 
        }  
    }
}//.c-inner-banner