.modal-design{
	.modal-dialog{
		.modal-content{
			@inlcude border-radius(0);

			.modal-header{
				 text-align: center;
				.close{
					background: $black;
					border: none;
					color: $light;
					float: right;
					font-size: 21px;
					font-weight: 700;
					line-height: 1;
					position: absolute;
					right: -10px;
					top: -5px;
					height: 30px;
					width: 30px;
					text-align: center;
					@include border-radius(50%);

					&:focus{
						outline: none;
					}
				 }

			}

			.modal-body{
				form{
					.form-group{
						label{
							font-weight: normal;
							font-size: 12px;
						}

						.form-control{
							@include box-shadow(none);
							@include border-radius(0);

						}
					}
					.cat-submit-btn{
						input[type="submit"]{
							background-color: $theme-color;
							border: none;
							color: $light;
							padding: 4px 15px;
							
							&:hover{
								background-color: darken($theme-color, 5%);
							}
						}
					}
				}
			}
		}
	}
}