.site-content{

	.photo-gallery{

		.entry-content{
			text-align:center;

			.nextgen_pro_grid_album{
				position:relative;
				display:inline-block;
				text-align:left;

				@include media(xs){
				  text-align:center;
				}

				//Media Query

				.image_container{
					margin-bottom:14px !important;

					//Media Query

					@include media(mb){
					  margin-left:0 !important;
					}

					.image_link_wrapper{
						height: auto !important;
						position:relative;	

						&:hover .caption_link{
							background: rgba(0, 0, 0, 0.7);
						}

						.gallery_link{
							height:auto !important;
							position:relative;
							overflow:hidden;
							picture{
								img{
								   @include transform(scale(1));
							       @include transition(all 0.3s ease-in-out);
								}
							}	 
						}//.gallery_link

						.caption_link{
							bottom:0;
							color:$light !important;
						    font-size: 15px;
						    left:0;
						    right:0;
							position:absolute;
						    padding: 10px;
						    height:auto;
						    text-align: left;
					        text-transform: uppercase;
						    
						}//.caption_link

						&:hover picture {
							img{
					       	 @include transform(scale(1.1));
					       	}
						}

					}//.image-link_wrapper
					
				}//.image_container


			}//.nextgen_pro_grid_album
		}

	}//.photo-gallery

}//.site-content