.single-content-wrap{

	.single-full-image{
		background-repeat:no-repeat;
		background-position:center center;
		background-size:cover;
		height:400px;
		margin-bottom:50px;
		position:relative;
		width:100%;

		.single-content-overlay{
			background: rgba(0, 0, 0, 0.6);
			bottom: 0;
			color: #fff;
			font-size: 14px;
			line-height: 16px;
			left: 0;
			right: 0;
			position: absolute;
			text-align: left;
			padding: 15px;
			@include transition( all 0.3s ease-in-out);

			.organization-logo{
				float: right;
				width: 90px;
			}

			.img-overlay-text{
				.news-title{
				    color: #FFD900;
				    font-family: "Merriweather Sans", sans-serif;
				    margin-bottom: 5px;
				    span{
				    	color: #FFD900;
				    	display: block;
				    	font-weight: 600;
				    	line-height: 20px;
				    	text-transform: uppercase;
				    	&.news-date{
				    		color: #fff;
				    		font-size: 12px;
				    		font-weight: normal;
				    	}
				    }
					
				}
			}
		}
	}//.single-full-image

	.single-text-content{
		font-family:$primary-font;
		

		@include media(mb){
		  padding:0 10px;
		}

		h2{
			color:$black;
			font-family:$title-font;
			font-size:30px;
			font-weight:600;
			text-transform:uppercase;
		}

		.post-date{
			font-size:20px;
			font-weight:normal;
		}//.post-date

		.contact-to{
			strong{
				display:block;
			}
		}//.contact-to	

		table{
			width: auto;
			a{
				font-weight: 700;
				&:hover{
				  text-decoration: underline;
				}
			}
		}
	}//.single-text-content
	
}//.single-content-wrap


.sk-archive-link{
	text-align: center;
	.see-all{
		padding: 10px 20px;
		border: none;
		background-color: $theme-color;
		color: $light;
		@include border-radius(20px);
		&:hover{
			color: $light;
		}
	}
}