// hide logo in mobile menu


$line_height: 2px;
$line_bg_color: $color_black;

.menu-icon-wrapper {
    position: absolute;
    right: 0;
    top: 20px;
    z-index: 99;
}

#menu-icon {
    position: relative;
    right: 0;
    width: 38px;
    height: 20px;
    display: inline-block;

    span:nth-child(1),
    span:nth-child(2),
    span:nth-child(3) {
        position: absolute;
        width: 100%;
        height: $line_height;
        background: $line_bg_color;
        display: inline-block;
    }

    span:nth-child(1) {
        top: 50%;
        left: 50%;
        @include translate(-50%, -50%);
    }

    span:nth-child(2) {
        top: 0;
        left: 0;
    }

    span:nth-child(3) {
        bottom: 0;
        left: 0;
    }
}

.site-header {
    background:$body-bg;
    height:70px;
    position:fixed;
    width:100%;
    z-index:9;
    text-align: center;
    

    .sk-nav-wrapper{
        display: inline-block;
        @include clearfix();

        @include media(md) {
            display: block;
        }

    }

    @include media(md) {
        .main-navigation {
            position: relative;

            .menu {
                display: none;
            }
        }

        .sk-container {
            width: 100%;
        }
    }

    .sk-nav-wrapper {
         a {
            &.site-logo{
                float: left;
                padding: 5px 10px;
                @include media(md) {
                    float: none;
                    display: inline-block;
                }
            }
        }

        //menu list
        .menu {
            float: left;
            position: relative;

            > li {
                padding: 0 23px;
                &.current-menu-item {
                    a {
                        &:after {
                            @include transform(scale(1,1));
                        }
                    }
                }

                > a {
                    color: $color_black;
                    font-size: 14px;
                    display: inline-block;
                    padding: 23px 0;
                    font-weight: 600;
                    position: relative;
                    @include media(md) {
                        margin: 10px 15px;
                    }

                    &:after {
                        content: '';
                        position: absolute;
                        bottom: 15px;
                        left: 0;
                        width: 100%;
                        height: 2px;
                        background-color: $color_line;
                        @include transition ( all 0.2s linear );
                        @include transform( scale(0, 1) );
                    }

                    &:hover {
                        &:after {
                            @include transform(scale(1,1));
                        }
                    }
                }

                ul{
                    left: auto;
                    &.sub-menu{
                        background:$body-bg;
                        border-top:2px darken($ternary-color, 3%) solid;
                        right: 0;
                        visibility: hidden;
                        opacity: 0;
                        @include box-shadow(none);
                        @include translate(0, 10px);
                        @include transition(all 0.3s linear);
                        top: 100%;
                        text-align: left;

                        li{
                            a{
                                background: transparent;
                                color: $color_black;
                                font-size: 14px;
                                line-height: 18px;
                                // width: 275px;
                                padding: 8px 20px;
                                transition: color 0s;

                                &:hover{
                                    background:$theme-color;
                                    color: $light;
                                }
                            }
                        }
                    }
                }

                &:hover{
                    .sub-menu{
                        visibility:visible;
                        opacity:1;
                        @include translate(0, 0);
                    }
                }
            }
        }
    }

    .mobile-menu{
        color:$theme-color;
        float:right;
        line-height: 70px;
        font-size: 20px;
        padding-right: 15px;

        // media query //
        @include media(md){
            display:inline-block;
        }

    }//.mobile-menu
}

.mm-menu{
    background:$black !important;
    color:$ternary-color !important;

    a.mm-title,
    .mm-menu em.mm-counter{
        color:$ternary-color !important;
    }

    .mm-menu .mm-listview>li .mm-next:after,
        .mm-next:after, .mm-prev:before{
        border-color:#cac8c8 !important;
    }

    .mm-menu .mm-listview>li.mm-selected>a:not(.mm-next), 
    .mm-menu .mm-listview>li.mm-selected>span{
        background:rgba(58, 56, 130, 0.5) !important;
    }
}

