
form{

   &.skrad-form {

         label{
            display: block;
            color: $black;
            font-weight: 400;
            a{
               color: $black;
               font-size: 20px;
            }
         }

         input,select,textarea{
            width:100%;
            border:1px $border solid;
            font-family: $primary-font;
            font-size: 13px;
            height:40px;
            padding: 4px 8px;
            @include border-radius(3px);
            @include box-shadow(none);
            &:focus{
               border-color: #999;
               outline: none;
            }
         }

         .select-box{
            border:1px $border solid;
            position:relative;
            font-family: 'FontAwesome';
            @include border-radius(3px);
            @include media(mb){
               margin-bottom: 20px;
            }

            &:after{
               bottom: 10px;
               border-left: 1px #999 solid;
               content: '\f107';
               color: #a8a7a7;
               font-size: 25px;
               position: absolute;
               right: 10px;
               padding-left: 10px;
               line-height: 18px;
               z-index: -1;
            }

            select{
               border-color: transparent;
               background-color:transparent;
               @include prefix(appearance, none);
               z-index: 2;

               option{
                  padding: 8px 10px;
                  background-color: $black;
               }
            }

            .bootstrap-select{
               font-family: 'Montserrat', sans-serif;
               height: 40px;
               position: relative;
               width: 100% !important;

               button{
                  @include border-radius(0);
                  @include box-shadow(none);
                  border: none;
                  background-color: transparent;
                  color: $black;
                  font-size: 12px;
                  height: 40px;
                  padding: 4px 8px;
                  &:focus, &:hover{
                     background-color: transparent;
                     color: $black;
                     outline: none !important;
                  }
                 
                  .bs-caret{
                     .caret{
                        opacity: 0;
                     }
                  }
               }

               .dropdown-menu{
                  li{
                     a{
                        font-size: 12px;
                        &.sub-cat{
                           margin-left: 10px;
                           position: relative;
                           &:before{
                              content:'-';
                              position: absolute;
                              left: 11px;

                           }
                        }
                     }
                  }
               }

            }
            
         }

         #description{
            height: auto;
         }

         button{
            &.btn-upload{
               float: right;
            }
         }

         .register-here{
            display:inline-block;
            margin-left:10px;
            text-align:center;

            // MEDIA-QUERIES //

               @include media(ms){
                  display:block;
                  margin-top:10px;
                  margin-left:0;
               }

               span{
                  color:$secondary-color;
                  font-weight:500;
               }

               a{
                  color:$primary-color;
                  font-weight:500;
               }
         }//.register-here

         .choose-file{
            border: 1px solid $border;
            @include border-radius(4px);
            height:40px;
            position: relative;
            vertical-align: middle;
            width: 100%;
            
            input.files-data{
               display: none;
            }

            span{
               
               &.file-box{
                  display: inline-block;
                  font-weight: normal;
                  font-size: 12px;
                  padding: 6px 8px;
                  @include calc(width, 36px);
                  text-overflow: ellipsis;
                  overflow: hidden;
                  white-space: nowrap;
               }

               &.file-btn{
                  bottom: 0;
                  position: absolute;
                  right: 8px;
                  top: 0;
                  padding: 9px 0;

                  i{
                  
                     border-left: 1px #999 solid;
                     font-size: 20px;
                     padding-left: 10px;
                  }
               }
            }
         }/* choose-form */

         .sk-checkbox-style{
               label{
                  display: inline-block;
                  &.control-checkbox{
                     position: relative;
                     padding-left: 30px;

                     input{
                        position: absolute;
                        z-index: -1;
                        opacity: 0;

                        &:checked ~ .check-indicator{
                           background: $theme-color;

                        }

                     }

                     .check-indicator{
                           background: $light;
                           border: 1px $theme-color solid;
                           position: absolute;
                           top: 2px;
                           left: 0;
                           height: 20px;
                           width: 20px;
                              &:after{
                                 content: '';
                                 left: 7px;
                                  top: 2px;
                                  width: 5px;
                                  height: 10px;
                                  border: solid #fff;
                                  border-width: 0 2px 2px 0;
                                 @include transform(rotate(45deg));
                                  position: absolute;
                                  display: none;
                              }
                     }

                     input{
                        &:checked ~ .check-indicator{
                           &:after{
                              display: block;
                           }
                        }
                     }
                  
                  }
               }
               .form-group{
                  label{
                     display: inline-block;
                     padding-top: 10px;
                  }

                  input{
                     float: right;
                     width: 45%;
                  }
                  
               }
         }//.sk-checkbox-style
   }
}/* form */

.ev-select-filters{
   margin-bottom: 20px;

   @include media(mb){
      margin-bottom: 0;
   }

   .select-box{
      float: left;
      margin-right: 10px;
      width: 250px;

      &.searchbox{
         &:after{
            content:'';
         }
            .search-input{
               border: none;
               @include calc(width, 40px);
               float: left;
               @include placeholder($secondary-color);
            }

            button{
               background-color: transparent;
               border: none;
               height: 40px;
               width: 40px;
            }
      }
   }
}/* ev-select-filters */

