.site-content{

	.video-block{
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		height:230px;
		margin-bottom: 12px;
		position:relative;
		width:100%;

		&:after{
			background: rgba(36, 46, 124, 0.7);
			bottom: 0;
			content:'';
			visibility: hidden;
			position: absolute;
			height: 100%;
			width: 100%;
			z-index: 1;
			opacity: 0;
			@include transition(opacity 0.2s ease-in-out);
		}

		&:hover{
			&:after{
				opacity: 1;
				visibility: visible;
				@include transition(opacity 0.3s ease-in-out);
			}
		}

		.video-caption{
			color:$light;
			position:absolute;
			text-align: center;
			left:50%;
			top: 50%;
			@include transform(translate(-50%, -50%));
			z-index:2;
			h3{
				font-family:$primary-font;
				font-size:15px;
				font-weight:normal;
				margin-bottom:1px;
				text-transform:uppercase;
			}
			span{
				&.date{
					font-size:12px;
				}
			}//span

			.play-icon{
				i{
					font-size:40px;
				}
			}//.play-icon
		}//.video-capton
	}
}//.site-content