<style type="text/css">
	.title-text {
		margin: 0;
		line-height: 0;
		font-weight: bold;
		text-align: left;
	}

	.text {
		font-weight: 100;
		margin: 0;
		line-height: 1;
		text-align: left;
		padding-bottom: 10px;
	}
	body{
		font-size: 13px;
		font-family: 'merriweather';
	}
</style>

<table width="100%">
	<tbody>
		<tr>
			<td width="35%">
				@logo@
			</td>
			<td width="65%" style="font-family: merriweather">
				<p style="margin:0; line-height:1.5; font-size:12px;"><span style="font-family: 'merriweatherb';">Datum för ansökan:</span> @date@</p>
				<br/>
				<h1 style="margin:0;line-height:0.5;font-weight: normal; font-size: 24px;">Sveriges Skrädderiförbund</h1>
				<p style="margin:0;line-height:1;font-family:'merriweather';">Nedan ser du en sammanfattning av din medlemsansökan.</p>
			</td>
		</tr>
	</tbody>
</table>

<table>
	<tr>
		<td>
			<div style="line-height: 3;"></div>
		</td>
	</tr>
</table>

<table width="100%">
	<tbody>
		@user_info@ @certificate_info@ @master_info@
	</tbody>
</table>

@company_info_heading@
<table width="100%">
	<tbody>
		@company_info@
	</tbody>
</table>

@employed_info_heading@
<table width="100%">
	<tbody>
		@employed_info@
	</tbody>
</table>

@school_info_heading@
<table width="100%">
	<tbody>
		@school_info@
	</tbody>
</table>

@message_heading@
<div class="message">
	@message@
</div>
