.sk-member-list{

	.sk-pagination{
		background: $light;
		border: 1px $border solid;
		clear: both;
		display: inline-block;
		padding: 5px;

		.page-numbers{
			color: #6b6a6a;
			display: inline-block;
			font-weight: 600;
			line-height: 15px;
			padding: 4px 8px;
			text-align: center;
		}

		.current{
			background-color: $theme-color;
			color: $light;
		}

		.prev,.next{
			background: #6b6a6a;
			color: $light;
		}
	}
}