button:focus,
select:focus {
    outline: none;
}

.no-members{
  text-align: center;
}

.sk-table {
    margin: 30px 0 50px;
    span.footable-toggle {
        margin-right: 10px !important;
        background: lighten($color_black, 20%);
        opacity: 1;
        color: $color_white;
        padding: 3px 4px;
        font-size: 12px;
    }

    thead {
        tr {
            th {
                padding: 9px 0px !important;
                font-size: 18px;
                border-bottom: none !important;
                &:last-child {
                    text-align: center;
                    width: 80px;
                }
            }
        }
    }

    tbody {
        tr {
            td {
                padding: 9px 0px !important;
                font-size: 14px;
                border-top: none !important;
                &.footable-last-visible {
                    color: $color_line;
                    text-align: center;
                    font-size: 12px;

                    a {
                        color: $color_line;
                        font-family: $font_primary !important;
                        font-weight: 600;
                        display: inline-block;
                        position: relative;
                        font-size: 16px;
                        @include transition( all 0.3s );
                        &:after{
                          content: "";
                          position: absolute;
                          top: 110%;
                          height: 2px;
                          left: 0;
                          width: 100%;
                          background-color: $color_black;
                        }

                        &:hover{
                          &:after{
                            background-color: $color_line;
                          }
                        }
                    }
                }

                .table-condensed {
                    background-color: lighten($color_black, 98%);
                    padding: 10px;

                    td,
                    th {
                        padding: 8px 15px;
                        font-size: 14px;
                        color: lighten($color_black,20%);
                    }
                    th {
                        border-top: none !important;
                    }
                }
            }
        }
    }// End tbody
}//End .sk-table


.sk-filter {
    background-color: lighten($color_black, 95%);
    padding: 15px 0;
    @include clearfix();
}

.sk-search-form{

    .sk-tab {
        float: left;
        margin-top: 8px;
        @include clearfix();
        min-width: 420px;
        max-width: 100%;
    }

    .sk-search {
        float: left;
    }

    button[type="submit"] {
        background: darken($color_line, 5%);
        color: #fff;
        padding: 9px 20px;
        border: none;
        border-radius: 20px;
    }

    .sk-form-group {
        float: left;
        margin-right: 15px;

        input[type="radio"] {
            display: none;
        }

        label {
            font-weight: 300;
            font-size: 13px;
            letter-spacing: 0.05px;
            cursor: pointer;
            @include transition( all 0.3s );
        }

        input[type="radio"]:checked {
            + label {
                font-weight: 600;
                letter-spacing: 0;
            }
        }

        input[type="text"] {
            border-style: none;
            min-width: 210px;
            padding: 8px 15px;
            border-radius: 20px;
            box-shadow: none;
            outline: none;
        }

        .sk-c-select {
            width: initial;
            min-width: 210px;
            background-color: $color_white;
            @include border-radius(30px);

            select {
                padding: 8px 15px;
                border: none;
            }
        }
    }
    //End .sk-form-group
    @include media(md) {
        text-align: center;

        .sk-tab {
            float: none;
            min-width: initial;
            margin-bottom: 10px;
            display: inline-block;
        }

        .sk-search {
            float: none;
            display: inline-block;
        }
    }
    @include media(xs) {
        .sk-search {
            display: block;

            .sk-form-group {
                float: none;
                margin-right: 0;

                .sk-c-select,
                input[type="text"] {
                    width: 100%;
                    margin-bottom: 8px;
                }
            }

            button {
                float: right;
            }
        }
    }
}
// End .sk-search-form

.sk-master-info{
    position: relative;
    padding: 60px 0;
    text-align: center;

    .logo-left{
        margin-top: 5px;
    }

    .sk-organisation-info{
        display: inline-block;
        overflow: hidden;
    }
}
