.courses {
    .sk-letter {
        font-size: 450px;
        top: 52%;
        @include media(xs) {
            font-size: 280px;
        }
    }

    .sk-description{
        a{
            font-weight: $font_weight_bold;
            &:hover{
                text-decoration: underline;
            }
        }
    }

    .sk-inner-intro {
        padding: 100px 0;

        .sk-description {
            text-align: left;
            ul{
                li{
                    list-style: none;
                    position: relative;
                    &:before{
                        content: '-';
                        position: absolute;
                        margin-right: 5px;
                        position: relative;
                    }
                }
            }
        }
    }

    .sk-course-n-eduction {
        padding: 60px 0;

        .sk-title {
            font-size: 22px;
            word-wrap: break-word;
            font-weight: bold;
            margin: 0 0 50px;
        }

        .sk-table {
            margin: 30px 0 0;

            @include media(xs) {
                td{
                    font-size: 15px;
                    &.footable-last-visible{
                        text-align: left;
                    }
                }
            }
        }

        @include media(xs) {
            .sk-title {
                font-size: 24px;
            }
        }
    }
}
