.search-results{
    .page-header{
        border-bottom: 2px $color_black solid;
    }

    article{
        border-bottom: 1px #eee solid;
        padding-bottom: 5px;
        .entry-header{
            h2{
                font-size: 20px;
            }
        }

        .entry-summary{
            font-family: $font_secondary;
            font-size: 14px;
        }

        .edit-link{
            font-size: 12px;
        }
    }
}