.btn-submit-border {
    border: none;
    width: 200px;
    display: inline-block;
    background-color: transparent;
    color: $color_black;
    font-size: 12px;
    padding: 9px 20px;
    margin-bottom: 10px;
    border: 1px solid $color_black;
}
