.btn-submit {
    background: $color_black;
    color: $color_white;
    border: none;
    padding: 15px 20px;
    margin-bottom: 10px;
    display: inline-block;
    font-weight: 900;
    font-size: 16px;
}
