.marketing-materials{

	.sk-foo-table{
		table{
			thead{
				.footable-header{
					th{
						&.footable-last-visible{
							text-align: center;
						}
					}
				}
			}

			tbody{
				td{
					&.footable-last-visible{
						text-align: center;
						i{
							font-size: 20px;
						}
					}

					p{
						margin: 0;
					}
				}
			}
		}
	}
}/* marketig-materials */