.contact-us{

  .post-address{
    margin: 40px 0;

    button{
      &.btn-submit{
        font-size: 14px;
        margin-bottom: 0;
        margin-top: 20px;
        padding: 6px 20px;
      }
    }

    a{
      font-weight: 700;
      &:hover{
        text-decoration: underline;
      }
    }
  }

  .sk-branch-detail{
    @include clearfix();
    padding: 30px 0;

    .sk-title{
      font-size: 22px;
      font-weight: bold;
      margin: 0 0 20px 0;
      word-wrap: break-word;
    }
    .sk-description{
      font-size: 16px;
      font-weight: 400;
      line-height: 2;
      font-family: $font_secondary;
      a{
        font-weight: 700;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }

}

