
    .organization-lists{
        
        .sk-letter {
            font-size: 450px;
            top: 52%;
            @include media(xs) {
                font-size: 280px;
            }
        }

        .sk-description{
            a{
                font-weight: $font_weight_bold;
                &:hover{
                    text-decoration: underline;
                }
            }
        }

        .sk-orgn-list{
            padding: 80px 0;

            @include media(xs){
                padding: 30px 0;

            }
            .orgn-description {
                padding: 50px 0;
                @include clearfix();
                @include media(xs){
                   padding: 30px 0;
                }
                &.odd-bg{
                    background-color:#fafafa;
                }
                
                h3{
                    font-family: $font_secondary;
                    font-size: 30px;
                    margin-bottom: 30px;

                    @include media(sm){
                        font-size: 25px;
                    }
                }
                .orgn-logo{
                    padding-right: 20px;

                    @include media(xs){
                        margin-bottom: 35px;
                    }

                    img{
                        width:180px;
                    }
                }
            }
    }
}
