/* NEWS */
.sk-news-wrapper {
    padding: 40px 0 120px;

    h1 {
        font-size: 20px;
        font-weight: $font_weight_bold;
        font-family: $font_secondary;
        margin: 0 0 20px;
    }

    .sk-news {
        margin: 15px 0;

        .sk-title-n-des {
            padding: 0 15px 0 10px;
            margin-top: 30px;

            @include media(xs) {
                margin-top: 0;
                padding: 10px;
            }
        }

        .sk-img-n-date {
            position: relative;

           .category-name{
                background-color: $color_line;
                color: #fff;
                display: inline-block;
                padding: 4px 10px;
                position: absolute;
                right: 0;
                top: 0;
           }

            .no-image {
                margin-top: 0;
                padding-bottom: 68.7%;
                background-color: lighten( $color_black, 98%);
                .sk-title-n-des{
                  margin: 0;
                  position: absolute;
                  left: 0;
                  top: 0;
                  right: 0;
                  bottom: 0;
                  padding: 30px 15px 15px 50px;

                  .sk-title {
                    font-size: 20px;
                    font-weight: bold;
                    font-family: $font_secondary;
                  }

                  .sk-description {
                    font-size: 14px;
                    font-style: italic;
                  }
                }
                @include media(xs) {
                    height: initial;
                }
            }

            img {
                width: 100%;
            }

            .sk-date-n-copy {
                position: absolute;
                width: 40px;
                top: 50%;
                left: 0;
                z-index: 2;
                @include translate(0,-50%);

                li {
                    list-style: none;
                    font-size: 11px;
                    font-weight: 400;

                    input {
                        position: absolute;
                        width: 40px;
                        top: 0;
                        z-index: -1;
                    }

                    a,
                    span {
                        min-height: 40px;
                        display: block;

                        &.sk-date {
                            background-color: $color_white;
                            padding: 5px 9px 0;
                            text-align: center;
                            color: $color_black;
                        }

                        &.sk-copy {
                            background-color: $color_black;
                            line-height: 40px;
                            text-align: center;
                            color: $color_white;
                            font-size: 14px;
                            position: relative;

                            span {
                                position: absolute;
                                left: 100%;
                                top: 0;
                                padding: 0 8px;
                                background: black;
                                display: inline-block;
                                bottom: 0;
                                line-height: 40px;
                                font-size: 13px;
                            }
                        }
                    }
                }
            }

            .social-share-links{
                display: none;
                position: absolute;
                top: 50%;
                left: 40px;
                @include transform(translate(0, -50%));
                z-index: 9;
                
                ul{
                    margin-top: 40px;
                    li{
                        list-style: none;
                        float: left;
                        a{
                            background: $color_black;
                            color: $color_white;
                            display: inline-block;
                            min-height:40px;
                            line-height: 40px;
                            text-align: center;
                            width: 40px;
                        }
                    }
                }
            }
        }

        .sk-title {
            font-size: 16px;
            color: $color_black;
            margin: 0 0 5px;
            font-weight: 500;
            text-transform: capitalize;
            overflow: hidden;
            display: inline-block;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
        }

        .sk-description {
            margin: 0;
            font-size: 14px;
            font-family: $font_secondary;
        }
    }
    @include media(mb) {
        padding: 60px 0 0;

        h1 {
            margin-bottom: 30px;
        }

        .sk-news {
            margin: 0;

            .sk-title {
                margin: 10px 0 5px;
            }

            .sk-description {
                margin: 0;
                font-size: 14px;
                max-height: 40px;
                overflow: hidden;
                margin-bottom: 2px;
            }

            .sk-img-n-date {
                .sk-date-n-copy {
                    top: 100%;
                    @include transform( initial );
                    $box_width: 50px;

                    li {
                        a,
                        span {
                            width: $box_width;
                            height: $box_width;

                            &.sk-date {
                                background-color: $color_line;
                                padding: 11px;
                            }

                            &.sk-copy {
                                line-height: $box_width;

                                span {
                                    line-height: $box_width;
                                }
                            }
                        }
                    }
                }
                .no-image {
                    .sk-date-n-copy {
                        top: 50%;
                        @include translate( 0%, -50% );
                    }
                    .sk-title-n-des{
                      padding: 15px 15px 15px 60px;
                    }
                }
            }

            .sk-title-n-des {
                padding-left: 60px;
            }
        }

        .col-xs-6 {
            width: 100%;
        }
    }
}
// LOAD MORE NEWS

#sk-load-more-news {
    background-color: lighten( $color_black, 97%);
    padding: 40px 0;
    text-align: center;

    &.loading {
        .sk-arrow-n-text {
            a {
                opacity: 0;
                @include transition( all 0.2s ease-in-out);
            }

            .fa-spinner {
                opacity: 1;
                @include scale(0.5);
                @include transition( all 0.3s ease-in-out 0.2s);
            }
        }
    }

    .sk-arrow-n-text {
        display: inline-block;
        position: relative;
        max-height: 44px;
        overflow: hidden;

        a {
            position: relative;
            z-index: 3;
            opacity: 1;
            text-transform: uppercase;
            display: inline-block;
            @include transition( all 0.8s ease-in-out 0.2s);

            i {
                font-size: 30px;
            }

            span {
                display: block;
                font-weight: 600;
                font-size: 14px;
                margin-bottom: 3px;
            }
        }

        .fa-spinner {
            position: absolute;
            z-index: 1;
            left: 40%;
            top: 30%;
            font-size: 25px;
            opacity: 0;
            @include scale(0.3);
            @include transition( all 0.2s ease-in-out);
        }
    }
}
