.sk-product-section{
    padding: 80px 0;
    .sk-product-detail{
        opacity: 0;
        @include transform(translateY(50px));
        @include transition(all 0.75s ease-out);
        margin-bottom: 50px;
        h2{
            font-size: 20px;
            font-weight: $font_weight_bold;
            font-family: $font_secondary;
            margin: 0 0 10px 0;
        }

        @include media(xs){
            margin-bottom: 50px;
        }

        .sk-product-description{
            font-size: 16px;
            font-family: $font_secondary;
            font-weight: $font_weight_light;
            line-height: 24px;
            .padded-multi-line{
                display: inline;
                background: #F6D258;
                background: #fff;
                @include box-shadow(10px 10px 0 #F6D258);
            }
        }

        &.fade-in{
            opacity: 1;
            @include transform(translateY(0));
        }
    }

    .sk-products-img{
        opacity: 0;
        @include transform(translateY(100px));
        transition: all 1.0s ease-out;
        // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        // float:right; margin: 50px 50px 0px 50px;
        width:auto;
        height:auto;

        @include media(xs){
            margin-bottom: 50px;
        }

        &.img-right{
            img{
                float: right;
                padding-left: 50px;

                @include media(xs){
                    float: none;
                    margin: 0 auto;
                    padding-left: 0;
                }

            }
        }

        &.img-left{
            img{
                float: left;
                padding-right: 50px;

                @include media(xs){
                    float: none;
                    margin: 0 auto;
                    padding-right: 0;
                }
            }
        }

        img{
            margin-bottom: 80px;
        }

        &.fade-in{
            opacity: 1;
            @include transform(translateY(0px));
        }
    }
}

