
.sk-video-ad{
  position: relative;
  padding-bottom: 40%;
  overflow: hidden;

  &.stop{
    img{
      opacity: 1;
      @include transform(translate(-50%, -50%) scale(1));
    }
  }

  img{
    z-index: 9;
    cursor: pointer;
    opacity: 0;
    @extend %sk-center;
    @include transform(translate(-50%, -50%) scale(2));
    @include transition( all 0.2s cubic-bezier(0, 0.6, 0.51, 0.88) );
  }

  video{
    @extend %sk-center;
  }

  @include media(xs){
    padding-bottom: 55%;
  }

}
