.sk-advertiser-logo{
    .owl-carousel{
        .owl-stage{
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -ms-flex-align: center;
            -webkit-align-items: center;
            -webkit-box-align: center;
            align-items: center;
        	.owl-item{
        		img{
        			padding: 15px;
        		}
        	}
        	
            .owl-dots{
                display: none;
            }
        }
    }
}