.c-article {
  .sk-title-des {
    position: relative;
    margin-top: 60px;
    @include media(sm) {
      margin-top: 0;
    }

    .sk-title {
      position: relative;
      padding-left: 25%;
      margin-bottom: 30px;
      font-family: $font_secondary;
      font-weight: $font_weight_bold;

      &:after {
        content: '';
        position: absolute;
        width: 45%;
        left: 0;
        top: 48%;
        height: 2px;
        background-color: $color_black;
      }
    }
    //.sk-title

    .sk-product-detail{
        @include media(xs){
            margin-bottom: 30px;
        }
        
        .sk-description {
          background: $color_white;
          position: relative;
          left: 30%;
          z-index: 9;
          padding: 20px;

          p {
            max-height: 85px;
            overflow: hidden;
            font-size: 14px;
            font-style: italic;
            line-height: 1.6;
          }
        }
    }

    // RESPONSIVE
    @include media(xs) {
      &:after {
        content: "";
        background-image: url("../img/sk-m-bg.png");
        width: 100%;
        height: 50%;
        top: -20%;
        background-size: cover;
        background-position: center center;
        left: 50%;
        @include translate( -50%, 0);
      }

      .sk-title {
        padding-left: 0;
        text-align: center;
        left: 0 !important;

        &:after {
          display: none;
        }
      }

      .sk-description {
        left: 0 !important;
        background-color: transparent;
        font-size: 16px;
        padding: 0;

        p {
          max-height: initial;
          overflow: initial;
        }
      }
    }
    // End media
  }
  //.sk-title-des
}
//.c-article

.sk-product-slider {
    padding: 160px 0;

    .c-article {
      .sk-title-des {
        .sk-title {
          &:after {
            width: 22%;
          }
        }
      }
    }

    //RESPONSIVE
    @include media(xs) {
        padding: 120px 0 0px;
    }

    #main-sk-slider {
        position: relative;
    }

    img {
        @include box-shadow( 0px 0px 7px 4px #f0f0f0 );
    }
}
//.sk-product-slider



/* SK SLIDER NAVIGATION */
.sk-slider-navigation {
    text-align: center;
    max-width: 105px;
    position: absolute;
    right: 0.5%;
    z-index: 99;
    top: 50%;
    @include translate( 0, -50%);

    img {
        position: relative;
        background: $color_black;
        padding: 5px 2px;
        cursor: pointer;
        @include box-shadow(none);

        &#mr-prev {
            top: 1px;
        }

        &#mr-next {
            top: -7px;
        }
    }

    div {
        padding: 0px 3px;
        color: $color_white;
        line-height: 1.9;
        font-family: $font_secondary;
        display: inline-block;
        font-size: 12px;
        background-color: $color_black;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 90px;
    }
}
//.sk-slider-navigation
/* SLIDER */
#main-sk-slider {
    .mr-slider-inner {
        position: relative;
        @include clearfix();

        .item {
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            @include clearfix();
            @include transition( opacity 0.5s linear 0.5s);

            .c-article {
                .sk-title {
                    opacity: 0;
                    font-size: 45px;
                    position: relative;
                    left: 35%;
                    @include transition( all 0.4s );
                }

                .sk-description {
                    opacity: 0;
                    position: relative;
                    font-family: $font_secondary;
                    line-height: 2;
                    left: 10%;
                    @include transition( all 0.4s );
                }
            }

            img {
                position: relative;
                left: 10%;
                opacity: 0;
                @include transition( all 0.4s );
            }

            &.leave {
                position: relative;
            }

            &.active {
                display: block;
                opacity: 1;

                .c-article {
                    .sk-title {
                        left: 0;
                        opacity: 1;
                        @include transition( all 0.8s cubic-bezier(0.01, 0.53, 0.45, 0.85) 0.3s);
                    }

                    .sk-description {
                        left: 40%;
                        opacity: 1;
                        @include transition( all 0.5s cubic-bezier(0.01, 0.53, 0.45, 0.85) 0.5s);

                        @include media(sm){
                          left: 20%;
                        }
                    }
                }

                img {
                    left: 0;
                    opacity: 1;
                    @include transition( all 0.5s cubic-bezier(0.01, 0.53, 0.45, 0.85) 0.4s);
                }

                @include media(xs){
                  .c-article {
                      .sk-title {
                        font-size: 30px;
                      }
                  }
                  .img{
                    margin-top: 30px;
                    text-align: right;
                  }
                }
            }
        }
        //.item
    }
    //.mr-slider-inner
}
//#main-sk-slider
