.error-404{
    text-align: center;
    .page-header{
        border-bottom: 2px $color_black solid;
        margin: 50px 0 0;
        .error-icons{
            span{
                color: $color_white; 
                font-size: 60px;
                font-weight: 600;
                padding: 4px 15px;
                margin-right: 5px;

                &.four{
                    background: $color_line;
                }

                &.zero{
                    background: $color_black;
                }
            }
        }

        h1{
            font-size: 20px;
            margin: 30px 0;
        }
    }

    .page-content{
        margin: 50px 0;
    }
}