

.sk-inner-page {
    &.dictionary{
        .sk-alphabet-filter{
            display: inline-block;
            padding-top: 10px;
            position: relative;
            .sk-alphabet-letter{
                float: left;
                @include clearfix();
                margin-bottom: 15px;

                a{
                    &.active{
                        font-weight: $font_weight_bold;
                    }

                }
            }

            .dic-show-all{
                background: darken($color_line, 5%);
                color: #fff;
                padding: 9px 20px;
                border: none;
                border-radius: 20px;
                margin-top: 15px;
                margin-left: 15px;
            }

            .fetch-words-loader{
                display: inline-block;
                position: absolute;
                right: -40px;
                top: 10px;
                i{
                    font-size: 20px;
                }
            }
        }


        .dictionary-words-wrapper{
            margin-bottom: 40px;

            .sk-dictionary-word{
                margin-top: 10px;
                .sk-word-name{
                    font-weight: 500;
                }

                .dic-cm-pad{
                    padding: 10px 0;
                }
            }
        }
        
    }/*.dictionary*/

}/* .sk-inner-page */