$black:#000 !default;
$color_black: #000 !default;
$color_line : #ffd700 !default;
$primary-color:#0a3e7c;
$light:#fff;
$color-secondary:#161616;
$secondary-color:#404040;
$theme-color: #FFD900;
$body-color:#6a6a6a;
$body-bg:#fafafa;
$ternary-color:#f4f5f5;
$border:#ccc;
$grey: #555555;


//FONTS
$primary-font: 'Merriweather Sans', sans-serif;
$title-font: 'Montserrat', sans-serif;


// container

$container-lg:1170px !default;
$container-md:970px !default;
$container-sm:750px !default;


